<div class="row fad-advanced-doc-profile-inside-container-row">
    <!-- First Column -->
    <div class="col-md-12 col-xs-12 fad-advanced-doc-profile-info-container">
        <div class="row">
            <div class="col-md-3 col-xs-12 fad-basic-info-container">
                <div class="fad-advanced-prof-img-container">
                    <div class=" img-circle" type="file">
                        <img class="img-circle" ngf-src="advancedDoctorProfile.imgPath" alt="profile image" ngf-resize="{width: 110, height: 110, quality: 100%}" ngf-size="{width: 110, height: 110, quality: 100%}">
                        <button type="file" ngf-select ng-model="advancedDoctorProfile.imgPath" name="file" accept="image/*" ngf-max-size="3MB" required ngf-model-invalid="errorFile" ngf-change="advancedDoctorProfile.setImageChange()">UPLOAD</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12" style="top: 20px;">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading1">Name <span><span ng-if="advancedDoctorProfile.docObj.prefix">{{advancedDoctorProfile.docObj.prefix|capitalize}} </span> {{advancedDoctorProfile.docObj.fName|capitalize}}<span ng-if="advancedDoctorProfile.docObj.mName">&nbsp{{advancedDoctorProfile.docObj.mName|capitalize}}</span>&nbsp{{advancedDoctorProfile.docObj.lName|capitalize}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading1">Gender <span ng-if="advancedDoctorProfile.docObj.gender == 'M'">Male</span>
                            <span ng-if="advancedDoctorProfile.docObj.gender == 'F'">Female</span></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading1">Mobile Number <span>{{advancedDoctorProfile.docObj.mobile | phone}}</span></div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading1">Email <span>{{advancedDoctorProfile.docObj.email}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12">
        <div class="row" style="padding: 15px 0;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                            <span>
                                                    Specialties
                                                </span>
                            <svg class="fad-su-doctor-prof-update-add" ng-click="advancedDoctorProfile.openSpecialityModal()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 27.87">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #fa5f5f;
                                        fill-rule: evenodd;
                                    }
                                    </style>
                                </defs>
                                <title>Untitled-3</title>
                                <path class="cls-1" d="M15.18,1.24A13.93,13.93,0,1,0,29.11,15.18,13.93,13.93,0,0,0,15.18,1.24m0,26.12A12.19,12.19,0,1,1,27.36,15.18,12.19,12.19,0,0,1,15.18,27.37M20.4,14.3H16V10a.87.87,0,1,0-1.74,0V14.3H10A.87.87,0,1,0,10,16H14.3V20.4a.87.87,0,0,0,1.74,0V16H20.4a.87.87,0,0,0,0-1.74" transform="translate(-1.24 -1.24)" />
                            </svg>
                        </div>
                        <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                            <p ng-repeat="speciality in advancedDoctorProfile.docObj.taxonomy | filter: speciality: speciality.level='2' " class="fad-advanced-doc-profile-basic-info-specialty-upd">{{speciality.title}}
                                <svg class="fad-su-doctor-prof-update-spec-close" ng-click="advancedDoctorProfile.removeSpeciality(speciality)" id="{{speciality}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>Untitled-3</title>
                                    <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                </svg>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                            <span>
                                                    Sub-specialties
                                                </span>
                        </div>
                        <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                            <p ng-repeat="speciality in advancedDoctorProfile.docObj.pSubSpeciality " class="fad-advanced-doc-profile-basic-info-specialty-upd">{{speciality.title}}
                                <svg class="fad-su-doctor-prof-update-spec-close" ng-click="advancedDoctorProfile.removeSubSpeciality(speciality)" id="{{speciality}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>Untitled-3</title>
                                    <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                </svg>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                            <span>
                                                    Languages
                                                </span>
                            <svg class="fad-su-doctor-prof-update-add" ng-click="advancedDoctorProfile.openLanguageModal()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 27.87">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #fa5f5f;
                                        fill-rule: evenodd;
                                    }
                                    </style>
                                </defs>
                                <title>Untitled-3</title>
                                <path class="cls-1" d="M15.18,1.24A13.93,13.93,0,1,0,29.11,15.18,13.93,13.93,0,0,0,15.18,1.24m0,26.12A12.19,12.19,0,1,1,27.36,15.18,12.19,12.19,0,0,1,15.18,27.37M20.4,14.3H16V10a.87.87,0,1,0-1.74,0V14.3H10A.87.87,0,1,0,10,16H14.3V20.4a.87.87,0,0,0,1.74,0V16H20.4a.87.87,0,0,0,0-1.74" transform="translate(-1.24 -1.24)" />
                            </svg>
                        </div>
                        <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                            <p ng-repeat="language in advancedDoctorProfile.docObj.languagesSpoken " class="fad-advanced-doc-profile-basic-info-specialty-upd">
                                {{language.languageName}}
                                <svg class="fad-su-doctor-prof-update-spec-close" ng-click="advancedDoctorProfile.removeLanguageSpoken($index)" id="{{speciality}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>Untitled-3</title>
                                    <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12 fad-advanced-doc-profile-info-next-btn-container" style="position: relative; right: 15px;">
    <button ng-click="advancedDoctorProfile.saveDoctor()" class="btn btn-raised pull-left fad-advanced-doc-profile-info-next-btn">Save & Done
    </button>
</div>
<div class="col-md-4 col-md-offset-4 col-xs-12 fad-advanced-doc-profile-info-next-btn-container" style="position: relative; left: 15px;">
    <button ng-click="advancedDoctorProfile.navigateToPrac('doctor-profile-main.practice-info')" class="btn btn-raised pull-right fad-advanced-doc-profile-info-next-btn">Next
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" style="width:15px; margin-left: 5px;" viewBox="0 0 19.61 11.69">
            <defs>
                <style>
                .cls-1 {
                    fill: #fa5f5f;
                }
                </style>
            </defs>
            <title>arrow</title>
            <path class="cls-1" d="M23.08,6.59l-5-5a.79.79,0,1,0-1.12,1.12L20.6,6.36H4.49A.79.79,0,1,0,4.49,8H20.6l-3.69,3.69A.8.8,0,0,0,17.47,13a.77.77,0,0,0,.56-.24l5-5a.79.79,0,0,0,0-1.13Zm0,0" transform="translate(-3.7 -1.31)" />
        </svg>
    </button>
</div>
 <!-- ng-if="SpecialityModalCmpController.emptySub.length > 0 -->
<script type="text/ng-template" id="specialty-modal.html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fad-add-spec-modal-header">
                <h4 class="fad-add-spec-modal-title">
                    <span ng-if="(selectedSpecialities| filter : { level : '2'}).length === 0">Add a <span class="fad-color-code">Specialty</span></span>
                    <span ng-repeat="spec in selectedSpecialities| filter : { level : '2'}" >
                    <span ng-if="emptySub[0] == spec._id">Add <span class="fad-color-code">Sub-Specialties</span> for {{spec.title}}</span></span>
                    <svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg>
                </h4>
            </div>
            <div style="padding:20px 0;" class="fad-add-spec-modal-body col-md-12">
                <div class="col-md-12">
                    <div style="padding:0px 20px">
                        <input id="inputSpecialty" type="text" ng-model="specialityFilter" class="form-control fad-doctor-su-upd-search" placeholder="{{placeHolderValue}}">
                    </div>
                </div>
                <div class="col-md-12" style="max-height: 340px; padding: 0 15px 0 30px; overflow-y:auto;">
                    <div class="fad-doc-upd-speciality-list" ng-repeat="item in specialities|filter : {title :specialityFilter}">
                        <input id="{{item.title}}" ng-checked="arrayOfIds.indexOf(item._id) > -1 " class="btn-lg pull-right" ng-model="selected" type="checkbox" ng-click="addSpeciality(item,selected)" ng-true-value="true" ng-false-value="false">
                        <span ng-click="!!selected?selected=false:selected=true;addSpeciality(item,selected)">{{ item.title}} </span>
                        <!-- <md-checkbox id="{{item.title}}" ng-model="selected" type="checkbox" ng-click="addSpeciality(item,selected)" ng-true-value="true" ng-false-value="false">
                                    </md-checkbox> -->
                    </div>
                </div>
            </div>
            <div class="fad-add-spec-modal-footer col-md-12">
                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="ok()" ng-disabled="selectedSpecialities.length == 0">Save</button> <!-- ({{selectedSpecialities.length}}) -->
                <br>
                <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="sub-speciality-modal.html">
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fad-add-spec-modal-header">
                <h4 class="fad-add-spec-modal-title">Add sub specialty <svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg></h4>
            </div>
            <div style="padding:20px 0;" class="fad-add-spec-modal-body col-md-12">
                <div class="col-md-12">
                    <div class="input-group" style="padding:0px 30px">
                        <input type="text" ng-model="specialityFilter" class="form-control fad-doctor-su-upd-search" placeholder="Search for sub-specialties">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary fad-doctor-su-upd-btn" type="button">Search</button>
                    </span>
                    </div>
                </div>
                <div class="col-md-12" style="max-height: 340px; padding: 0 15px 0 30px; overflow-y:auto;">
                    <div class="fad-doc-upd-speciality-list" ng-repeat="item in specialities">
                        <input id="{{item.title}}" class="btn-lg pull-right" ng-model="selected" type="checkbox" ng-click="addSpeciality(item,selected)" ng-true-value="true" ng-false-value="false">
                        <span ng-click="!!selected?selected=false:selected=true;addSpeciality(item,selected)">{{ item.title}}</span>
                        <!-- <md-checkbox id="{{item.title}}" ng-model="selected" type="checkbox" ng-click="addSpeciality(item,selected)" ng-true-value="true" ng-false-value="false">
                        </md-checkbox> -->
                    </div>
                </div>
            </div>
            <div class="fad-add-spec-modal-footer col-md-12">
                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="ok()">Add ({{selectedSpecialities.length}})</button>
                <br>
                <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="languages-modal.html">
   <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fad-add-spec-modal-header">
                <h4 class="fad-add-spec-modal-title">Add <span class="fad-color-code">Languages</span> <svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg></h4>
            </div>
            <div style="padding:20px 0;" class="fad-add-spec-modal-body col-md-12">
                <div class="col-md-12">
                    <div style="padding:0px 20px">
                        <input type="text" ng-model="languageFilter" class="form-control fad-doctor-su-upd-search" placeholder="Search for languages">
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <button style="margin:0;float:right;font-size:x-small;margin-right: 30px;" type="button" class="btn btn-link btn-raised btn-right" ng-click="clearAll()" ng-disabled="selectedLanguages.length == 0">Uncheck all</button>
                </div>
                <div class="col-md-12" style="max-height: 340px; padding: 0 15px 0 30px; overflow-y:auto;">
                    <div class="fad-doc-upd-speciality-list" ng-repeat="item in languages|filter:{languageName: languageFilter}">
                        <input id="{{item['_id']}}" class="btn-lg pull-right" ng-model="selected" ng-checked="arrayOfLangs.indexOf(item['_id']) > -1 " type="checkbox" ng-click="addLanguage(item,selected)" ng-true-value="true" ng-false-value="false">
                        <span ng-click="!!selected?selected=false:selected=true;addLanguage(item,selected)">{{ item.languageName}}</span>
                        <!-- <md-checkbox id="{{item.title}}" ng-model="selected" type="checkbox" ng-click="addSpeciality(item,selected)" ng-true-value="true" ng-false-value="false">
                                    </md-checkbox> -->
                    </div>
                </div>
            </div>
            <div class="fad-add-spec-modal-footer col-md-12">
                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="ok()">Save ({{selectedLanguages.length}})</button>
                <br>
                <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
            </div>
        </div>
    </div>
</script>
