<div class="row fad-advanced-doc-profile-inside-container-row">
    <!-- First Column -->
    <div class="col-md-12" style="padding: 15px;">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <!-- Practice location section  -->
                    <div class="col-md-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                            <span>
                                Practice Locations
                            </span>
                            <svg class="fad-su-doctor-prof-update-add" ng-click="advancedDoctorProfile.openPracticeLocationModal()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 27.87">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #fa5f5f;
                                        fill-rule: evenodd;
                                    }
                                    </style>
                                </defs>
                                <title>Untitled-3</title>
                                <path class="cls-1" d="M15.18,1.24A13.93,13.93,0,1,0,29.11,15.18,13.93,13.93,0,0,0,15.18,1.24m0,26.12A12.19,12.19,0,1,1,27.36,15.18,12.19,12.19,0,0,1,15.18,27.37M20.4,14.3H16V10a.87.87,0,1,0-1.74,0V14.3H10A.87.87,0,1,0,10,16H14.3V20.4a.87.87,0,0,0,1.74,0V16H20.4a.87.87,0,0,0,0-1.74" transform="translate(-1.24 -1.24)" />
                            </svg>
                        </div>
                        <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                            <div id="practice-location">
                                <label id="prim-location" class="label-location" ng-if="advancedDoctorProfile.primLocation">Primary Location</label>
                                <address ng-repeat="location in advancedDoctorProfile.docObj.otherAddress " class="fad-su-doctor-prof-upd-form" ng-if="location.isPrimary == true">
                                    <div>
                                        <h4>
                                            {{location.organizationLegalName | titleCase}}
                                            <p>
                                                <span>{{location.Line1StreetAddress | titleCase }},</span>
                                            <span ng-if="!!location.Line2StreetAddress"> {{location.Line2StreetAddress | titleCase}},</span>
                                            <span>{{location.city | titleCase}},</span>
                                            <span>{{location.state}}</span>
                                            <span>{{location.zipCode}},</span>
                                            <span>{{location.country}}</span>
                                            </p>
                                        </h4>
                                    </div>
                                    <svg class="fad-su-doctor-prof-update-close" ng-click="advancedDoctorProfile.removePracticeLocation($index)" id="location['_id']" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                        <defs>
                                            <style>
                                            .cls-1 {
                                                fill: #fa5f5f;
                                            }
                                            </style>
                                        </defs>
                                        <title>Untitled-3</title>
                                        <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                        </path>
                                    </svg>
                                </address>
                                <label id="other-location" class="label-location" ng-if="advancedDoctorProfile.otherLocation">Other Location</label>
                                <address ng-repeat="location in advancedDoctorProfile.docObj.otherAddress " class="fad-su-doctor-prof-upd-form" ng-if="location.isPrimary == false">
                                    <div>
                                        <h4>
                                            {{location.organizationLegalName | titleCase}}
                                            <p>
                                                <span>{{location.Line1StreetAddress | titleCase }},</span>
                                            <span ng-if="!!location.Line2StreetAddress"> {{location.Line2StreetAddress | titleCase}},</span>
                                            <span>{{location.city | titleCase}},</span>
                                            <span>{{location.state}}</span>
                                            <span>{{location.zipCode}},</span>
                                            <span>{{location.country}}</span>
                                            </p>
                                        </h4>
                                    </div>
                                    <svg class="fad-su-doctor-prof-update-close" ng-click="advancedDoctorProfile.removePracticeLocation($index)" id="location['_id']" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                        <defs>
                                            <style>
                                            .cls-1 {
                                                fill: #fa5f5f;
                                            }
                                            </style>
                                        </defs>
                                        <title>Untitled-3</title>
                                        <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                        </path>
                                    </svg>
                                </address>
                            </div>
                        </div>
                    </div>
                    <!-- Hospital Affiliations -->
                    <div class="col-md-12">
                        <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                            <span>
                                Hospital Affiliations
                            </span>
                            <svg class="fad-su-doctor-prof-update-add" ng-click="advancedDoctorProfile.openHospitalAffiliationModal()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.86 27.87">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #fa5f5f;
                                        fill-rule: evenodd;
                                    }
                                    </style>
                                </defs>
                                <title>Untitled-3</title>
                                <path class="cls-1" d="M15.18,1.24A13.93,13.93,0,1,0,29.11,15.18,13.93,13.93,0,0,0,15.18,1.24m0,26.12A12.19,12.19,0,1,1,27.36,15.18,12.19,12.19,0,0,1,15.18,27.37M20.4,14.3H16V10a.87.87,0,1,0-1.74,0V14.3H10A.87.87,0,1,0,10,16H14.3V20.4a.87.87,0,0,0,1.74,0V16H20.4a.87.87,0,0,0,0-1.74" transform="translate(-1.24 -1.24)" />
                            </svg>
                        </div>
                        <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                            <div id="practice-location">
                                <address ng-repeat="affiliation in advancedDoctorProfile.docObj.hospitalAffillation " class="fad-prac-info-hosp-label">
                                    <div>
                                        <h4>
                                            {{affiliation.name | titleCase}}
                                            
                                        </h4>
                                    </div>
                                    <svg class="fad-su-doctor-prof-update-close" ng-click="advancedDoctorProfile.removeHospitalAffiliation($index)" id="location['_id']" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                        <defs>
                                            <style>
                                            .cls-1 {
                                                fill: #fa5f5f;
                                            }
                                            </style>
                                        </defs>
                                        <title>Untitled-3</title>
                                        <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                                    </svg>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-heading fad-advanced-doc-profile-info-panel-heading">
                    <span>
                        Brief Introduction
                    </span>
                </div>
                <div class="panel-body fad-advanced-doc-profile-info-panel-body">
                    <textarea ng-model="advancedDoctorProfile.docObj.briefIntro" class="form-control fad-advanced-doc-profile-info-panel-textarea" rows="11" placeholder="Share more information about yourself..." ng-blur="advancedDoctorProfile.checkBreifIntro()"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 col-xs-12 fad-advanced-doc-profile-info-next-btn-container" style="position: relative; right: 15px;">
    <button ng-click="advancedDoctorProfile.saveDoctor()" class="btn btn-raised pull-left fad-advanced-doc-profile-info-next-btn">Save & Done
    </button>
</div>
<div class="fad-advanced-doc-profile-info-next-btn-container col-md-4 col-md-offset-4" style="position: relative; left: 15px;">
    <button ng-click="advancedDoctorProfile.navigateToIns('doctor-profile-main.insurances')" class="btn btn-raised pull-right fad-advanced-doc-profile-info-next-btn">Next
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" style="width:15px; margin-left: 5px;" viewBox="0 0 19.61 11.69">
            <defs>
                <style>
                .cls-1 {
                    fill: #fa5f5f;
                }
                </style>
            </defs>
            <title>arrow</title>
            <path class="cls-1" d="M23.08,6.59l-5-5a.79.79,0,1,0-1.12,1.12L20.6,6.36H4.49A.79.79,0,1,0,4.49,8H20.6l-3.69,3.69A.8.8,0,0,0,17.47,13a.77.77,0,0,0,.56-.24l5-5a.79.79,0,0,0,0-1.13Zm0,0" transform="translate(-3.7 -1.31)" />
        </svg>
    </button>
</div>
<script type="text/ng-template" id="practice-location-modal.html">
    <h4 class="fad-add-prac-loc-modal-title"><svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg></h4>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab  label="Add a practice location from list">
                    <md-content style="min-height: 508px;" class="md-padding">
                        <div class="container-fluid">
                            <form novalidate role="form" name="practiceInfo">
                                <div class="row">
                                    <div style="padding: 10px 20px;" class="modal-body col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 fad-hosp-aff-modal-selectize">
                                                <div class="row">
                                                    <ui-select on-select="onSelected($item)" ng-model="stateList.selected" theme="bootstrap" reset-search-input="true">
                                                        <ui-select-match allow-clear="true" placeholder="Choose a State">{{stateList.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="state in stateList|filter:$select.search" position='down'>
                                                            {{state.name}}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 fad-hosp-aff-modal-second-selectize">
                                                <div class="row">
                                                    <ui-select ng-disabled="!stateList.selected" ng-model="cityList.selected" theme="bootstrap" >
                                                        <ui-select-match allow-clear="true" placeholder="Choose a City">{{cityList.selected| titleCase }}</ui-select-match>
                                                        <div>remove</div>
                                                        <ui-select-choices repeat="city in cityList |filter:$select.search | orderBy : city " position='down'>
                                                            {{city|titleCase }}
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText,stateList.selected.code,cityList.selected)" md-item-text="item.orgName " placeholder="Search for Practice Location">
                                                <span md-highlight-text="searchText" md-highlight-flags="i">{{item.orgName | titleCase}}  - </span>
                                                <span class="fad-color-code"> 

                                                            {{item.pracAddress.Line1StreetAddress | titleCase }},</span>
                                                <span ng-if="!!doctor['_source'].pracAddress.Line2StreetAddress" class="fad-color-code"> {{item.pracAddress.Line2StreetAddress | titleCase}},</span>
                                                <span class="fad-color-code">{{item.pracAddress.city | titleCase}},</span>
                                                <span class="fad-color-code">{{item.pracAddress.state}}</span>
                                                <span class="fad-color-code">{{item.pracAddress.zipCode}},</span>
                                                <span class="fad-color-code">{{item.pracAddress.country}}</span>
                                                </span>
                                            </md-autocomplete>
                                            <label class="fad-su-doc-upd-prac-loc-label">
                                                Practice Information
                                            </label>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.organizationLegalName" type="text" class="fad-inputs form-control" placeholder="Name of Practice" required disabled>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.Line1StreetAddress " type="text" class="fad-inputs form-control" placeholder="Address Line 1" required disabled>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.Line2StreetAddress" type="text" class="fad-inputs form-control" placeholder="Address Line 2" disabled>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.zipCode" type="text" class="fad-inputs form-control" address-auto-suggestion suggestion-type="postal_code" placeholder="Zip Code" required tabindex="-1" disabled>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <input ng-model="practiceLocation.city " type="text" class="fad-inputs form-control" placeholder="City" suggestion-type="city" id="city" name="city" required tabindex="-1" disabled>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input ng-model="practiceLocation.state" type="text" class="fad-inputs form-control" placeholder="State" suggestion-type="state" id="state" name="state" required tabindex="-1" disabled>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.phoneNo" type="text" id="phone" name="mobile" class="fad-inputs form-control" placeholder="Phone Number" maxLength="14" minLength="10" mobile-formatter required>
                                                                <span class="fad-doc-su-form-alert">Mobile number is required field<br></span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocation.faxNo" type="text" id="fax" name="fax" class="fad-inputs form-control" placeholder="Fax Number" maxLength="14" minLength="10" mobile-formatter>
                                                            </div>
                                                            <div class="col-md-12" style="display:block;">
                                                                <div class="row">
                                                                    <div class="fad-user-su-checkbox">
                                                                        <label>
                                                                            <md-checkbox ng-disabled="!(practiceLocation.organizationLegalName && practiceLocation.Line1StreetAddress &&practiceLocation.zipCode && practiceLocation.phoneNo)" ng-click="showConfirm(practiceLocation)" ng-model="practiceLocation.isPrimary">
                                                                                This is my Primary Location.
                                                                            </md-checkbox>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </md-content>
                    <div class="fad-add-spec-modal-footer col-md-12">
                        <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="ok()" ng-disabled="!practiceInfo.$valid">Add</button>
                        <br>
                        <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
                    </div>
                </md-tab>
                <md-tab  label="Add a practice location manually">
                    <md-content style="min-height: 508px;" class="md-padding">
                       <div class="container-fluid">
                            <form novalidate role="form" name="practiceInform">
                                <div class="row">
                                    <div style="padding: 10px 20px;" class="modal-body col-md-12">
                                        <div class="row">
                                            <label class="fad-su-doc-upd-prac-loc-label">
                                                Practice Information
                                            </label>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.orgName" name="orgName" type="text" class="fad-inputs form-control" placeholder="Name of Practice" required>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.pracAddress.Line1StreetAddress " type="text" class="fad-inputs form-control" placeholder="Address Line 1" required>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.pracAddress.Line2StreetAddress" type="text" class="fad-inputs form-control" placeholder="Address Line 2">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.pracAddress.zipCode" type="text" name="zipCode" class="fad-inputs form-control" address-auto-suggestion suggestion-type="postal_code" placeholder="Zip Code" required tabindex="-1">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <input ng-model="practiceLocationManually.pracAddress.city " type="text" class="fad-inputs form-control" placeholder="City" suggestion-type="city" id="city" name="city" required tabindex="-1" disabled>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input ng-model="practiceLocationManually.pracAddress.state" type="text" class="fad-inputs form-control" placeholder="State" suggestion-type="state" id="state" name="state" required tabindex="-1" disabled>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.pracAddress.phoneNo" type="text" id="phone" name="mobile" class="fad-inputs form-control" placeholder="Phone Number" maxLength="14" minLength="10" mobile-formatter required>
                                                                <span class="fad-doc-su-form-alert">Mobile number is required field<br></span>
                                                            </div>
                                                            <!-- <div class="col-md-6">
                                                                <input ng-model="practiceLocationManually.pracAddress.faxNo" type="text" id="fax" name="fax" class="fad-inputs form-control" placeholder="Fax Number" maxLength="14" minLength="10" mobile-formatter>
                                                            </div> -->
                                                            <div class="col-md-12" style="display:block;">
                                                                <div class="row">
                                                                    <div class="fad-user-su-checkbox">
                                                                        <label>
                                                                            <md-checkbox ng-disabled="!(practiceLocationManually.pracAddress.Line1StreetAddress &&practiceLocationManually.pracAddress.zipCode && practiceLocationManually.pracAddress.state && practiceLocationManually.pracAddress.phoneNo)" ng-click="showConfirmButton(practiceLocationManually)" ng-model="isPrimary">
                                                                                This is my Primary Location.
                                                                            </md-checkbox>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </md-content>
                    <div class="fad-add-spec-modal-footer col-md-12">
                        <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="addPracLocation()" ng-disabled="!(practiceLocationManually.orgName && practiceLocationManually.pracAddress.Line1StreetAddress && practiceLocationManually.pracAddress.zipCode && practiceLocationManually.pracAddress.phoneNo)">Add</button>
                        <br>
                        <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
    <!-- <div class="container-fluid">
        <form novalidate role="form" name="practiceInfo">
            <div class="row">
                <div class="col-md-12 fad-add-spec-modal-header">
                    <h4 class="fad-add-spec-modal-title">Add a <span class="fad-color-code">Practice Location</span> <svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg></h4>
                </div>
                <div class="modal-body col-md-12">
                    <div class="row">
                        <div class="col-md-6 fad-hosp-aff-modal-selectize">
                            <div class="row">
                                <ui-select on-select="onSelected($item)" ng-model="stateList.selected" theme="bootstrap" reset-search-input="true">
                                    <ui-select-match allow-clear="true" placeholder="Choose a State">{{stateList.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="state in stateList|filter:$select.search" position='down'>
                                        {{state.name}}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6 fad-hosp-aff-modal-second-selectize">
                            <div class="row">
                                <ui-select ng-disabled="!stateList.selected" ng-model="cityList.selected" theme="bootstrap">
                                    <ui-select-match allow-clear="true" placeholder="Choose a City">{{cityList.selected| titleCase }}</ui-select-match>
                                    <div>remove</div>
                                    <ui-select-choices repeat="city in cityList |filter:$select.search | orderBy : city " position='down'>
                                        {{city|titleCase }}
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText,stateList.selected.code,cityList.selected)" md-item-text="item.orgName " placeholder="Search for Practice Location">
                            <span md-highlight-text="searchText" md-highlight-flags="i">{{item.orgName | titleCase}}  - </span>
                            <span class="fad-color-code"> 

                                    {{item.address.Line1StreetAddress | titleCase }},</span>
                            <span ng-if="!!doctor['_source'].address.Line2StreetAddress" class="fad-color-code"> {{item.address.Line2StreetAddress | titleCase}},</span>
                            <span class="fad-color-code">{{item.address.city | titleCase}},</span>
                            <span class="fad-color-code">{{item.address.state}}</span>
                            <span class="fad-color-code">{{item.address.zipCode}},</span>
                            <span class="fad-color-code">{{item.address.country}}</span>
                            </span>
                        </md-autocomplete>
                        <label class="fad-su-doc-upd-prac-loc-label">
                            Practice Information
                        </label>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.organizationLegalName" type="text" class="fad-inputs form-control" placeholder="Name of Practice" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.Line1StreetAddress " type="text" class="fad-inputs form-control" placeholder="Address Line 1" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.Line2StreetAddress" type="text" class="fad-inputs form-control" placeholder="Address Line 2">
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.zipCode" type="text" class="fad-inputs form-control" address-auto-suggestion suggestion-type="postal_code" placeholder="Zip Code" required>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input ng-model="practiceLocation.city " type="text" class="fad-inputs form-control" placeholder="City" suggestion-type="city" id="city" name="city" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input ng-model="practiceLocation.state" type="text" class="fad-inputs form-control" placeholder="State" suggestion-type="state" id="state" name="state" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.phoneNo" type="text" id="phone" name="mobile" class="fad-inputs form-control" placeholder="Phone Number" maxLength="14" minLength="10" mobile-formatter required>
                                            <span class="fad-doc-su-form-alert">Mobile number is required field<br></span>
                                        </div>
                                        <div class="col-md-6">
                                            <input ng-model="practiceLocation.faxNo" type="text" id="fax" name="fax" class="fad-inputs form-control" placeholder="Fax Number" maxLength="14" minLength="10" mobile-formatter>
                                        </div>
                                        <div class="col-md-12" style="display:block;">
                                            <div class="row">
                                                <div class="fad-user-su-checkbox">
                                                    <label>
                                                        <md-checkbox ng-disabled="!(practiceLocation.organizationLegalName && practiceLocation.Line1StreetAddress &&practiceLocation.zipCode && practiceLocation.phoneNo)" ng-click="showConfirm(practiceLocation)" ng-model="practiceLocation.isPrimary">
                                                        This is my Primary Location.
                                                        </md-checkbox>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fad-add-spec-modal-footer col-md-12">
                    <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="ok()" ng-disabled="!practiceInfo.$valid">Add</button>
                    <br>
                    <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
                </div>
            </div>
        </form>
    </div> -->
</script>
<script type="text/ng-template" id="hospital-affiliation-modal.html">
    <h4 class="fad-add-prac-loc-modal-title"><svg ng-click="cancel()" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.89 24.89"><defs><style>.cls-1{fill:#fa5f5f;}</style></defs><title>twitter-logo-silhouette</title><path class="cls-1" d="M40.92,11.82l-1.13-1.13L28.47,22,17.16,10.68,16,11.82,27.34,23.13,16,34.44l1.13,1.13L28.47,24.26,39.79,35.58l1.13-1.13L29.6,23.13Zm0,0" transform="translate(-16.03 -10.68)"/></svg></h4>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab  label="Add a Hospital from list">
                    <md-content class="md-padding">
                        <div class="container-fluid">
                            <form novalidate role="form" name="hospitalInfo">
                                <div class="row" style="margin: 0;margin-top: 15px;box-shadow: 1px 1px 4px 2px rgba(0,0,0, 0.3);padding: 15px;">
                            <div class="col-md-12 fad-add-spec-modal-header">
                                <h4 class="fad-add-spec-modal-title">Add a <span class="fad-color-code">Hospital</span></h4>
                            </div>
                            <div class="modal-body col-md-12">
                                <div class="row">
                                    <div class="col-md-6 fad-hosp-aff-modal-selectize">
                                        <div class="row">
                                            <ui-select on-select="onSelected($item)" ng-model="stateList.selected" theme="bootstrap" reset-search-input="true">
                                                <ui-select-match allow-clear="true" placeholder="Choose a State">{{stateList.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="state in stateList|filter:$select.search" position='down'>
                                                    {{state.name}}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 fad-hosp-aff-modal-second-selectize">
                                        <div class="row">
                                            <ui-select ng-disabled="!stateList.selected" ng-model="cityList.selected" theme="bootstrap">
                                                <ui-select-match allow-clear="true" placeholder="Choose a City">{{cityList.selected| titleCase }}</ui-select-match>
                                                <div>remove</div>
                                                <ui-select-choices repeat="city in cityList |filter:$select.search | orderBy : city " position='down'>
                                                    {{city|titleCase }}
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <md-autocomplete md-no-cache="true" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText,stateList.selected.code,cityList.selected)" md-item-text="item.name | titleCase" placeholder="Search Organization" required>
                                        <span md-highlight-text="searchText" md-highlight-flags="i">{{item.name | titleCase}}</span>
                                    </md-autocomplete>
                                </div>
                            </div>
                            <div class="fad-add-hosp-modal-footer col-md-12">
                                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="addFromList()" ng-disabled="!selectedItem">Add</button>
                            </div>
                        </div>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab  label="Add a Hospital Manually">
                    <md-content class="md-padding">
                       <div class="container-fluid">
                            <form novalidate role="form" name="practiceInfo">
                                <div class="row" style="margin: 0;margin-top: 15px;box-shadow: 1px 1px 4px 2px rgba(0,0,0, 0.3);padding: 15px;">
                            <div class="col-md-12 fad-add-spec-modal-header" style="margin-bottom: 25px;">
                                <h4 class="fad-add-spec-modal-title">Add a <span class="fad-color-code">Hospital</span> manually</h4>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="hospitalLocation.name" type="text" class="fad-inputs form-control" placeholder="Hospital name" required>
                            </div>
                            <div class="col-md-6">
                                <input ng-model="hospitalLocation.address.city" type="text" class="fad-inputs form-control" placeholder="City" name="hospCity" required hospital-auto-suggestion suggestion-type="city" tabindex="-1">
                            </div>
                            <div class="col-md-6">
                                <input ng-model="hospitalLocation.address.state" type="text" class="fad-inputs form-control" placeholder="State" name="hospState" required hospital-auto-suggestion suggestion-type="state" tabindex="-1">
                            </div>
                            <div class="col-md-6">
                                <input ng-model="hospitalLocation.address.zipCode" type="text" class="fad-inputs form-control" placeholder="Zip Code" tabindex="-1">
                            </div>
                            <div class="fad-add-hosp-modal-footer col-md-12">
                                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="addHospital()" ng-disabled="!(hospitalLocation.name && hospitalLocation.address.city )">Add</button>
                            </div>
                        </div>
                            </form>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
            <div class="fad-add-spec-modal-footer col-md-12">
                <table class="added-hospitals-table col-md-12">
                    <tr class="added-hospitals-header">
                        <th ng-if="selectedList.length > 0">Added hospitals</th>
                    </tr>
                    <tr class="added-hospitals-content col-md-6" ng-repeat="item in selectedList">
                        <td>{{item.name |titleCase}}
                            <svg style="right:20px;" class="fad-su-doctor-prof-update-spec-close" ng-click="removeHospital($index)" id="{{speciality}}" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.14 27.14">
                                <defs>
                                    <style>
                                    .cls-1 {
                                        fill: #fa5f5f;
                                    }
                                    </style>
                                </defs>
                                <title>Untitled-3</title>
                                <path class="cls-1" d="M15.18,1.61A13.57,13.57,0,1,0,28.74,15.18,13.58,13.58,0,0,0,15.18,1.61Zm5.44,16.61a1.7,1.7,0,1,1-2.4,2.4l-3-3-3,3a1.7,1.7,0,0,1-2.4-2.4l3-3-3-3a1.7,1.7,0,0,1,2.4-2.4l3,3,3-3a1.7,1.7,0,1,1,2.4,2.4l-3,3Zm0,0" transform="translate(-1.61 -1.61)" />
                            </svg>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-raised fad-doctor-su-upd-search-sub" type="button" ng-click="save()">Save</button>
                <br>
                <h4 class="col-md-6 col-md-offset-3">Copyright 2003-2016 <span>Millennium Technology Solutions</span> Inc. All Rights Reserved.</h4>
            </div>
        </md-content>
    </div>
</script>
