<div class="container fad-advanced-doc-profile-main-container " id="main">
    <div class="col-md-12">
        <div class="row" style="background: #eee; padding: 15px 0;">
            <div class="col-md-12" style="padding: 0 30px; padding-bottom: 15px; ">
                <div class="row">
                    <div class="col-md-9 fad-doc-prof-main-logo-container" style="border-radius: 4px !important;background: #fff;">
                        <a ui-sref="search" title="Home">
                            <img src="../../../assets/images/logo-horizontal.png">
                        </a>
                    </div>
                    <!-- <div class="col-md-4">
                        <h5 class="fad-advanced-doc-profile-header-welcome-text1">Welcome back</h5>
                        <h5 class="fad-advanced-doc-profile-header-welcome-text">You last signed in, yesterday 16:54 PM</h5>
                    </div> -->
                    <div class="col-md-3" style="border-left: 2px solid #f2f2f2;border-radius: 8px;background: #fff;">
                        <div class="row prof-summ-doc-prof-btn">
                            <div class="btn-group">
                                <button type="button" class="btn btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="fad-advanced-doc-profile-doc-profile-container">
                                        <img ngf-src="advancedDoctorProfile.imgPath" alt="profile image" ngf-resize="{width: 30, height: 30, quality: 100%}" ngf-size="{width: 30, height: 30, quality: 100%}" class="fad-advanced-doc-profile-doc-profile-img img-circle">
                                        <h5 class="fad-advanced-doc-profile-doc-profile-text">
                                            <span ng-if="advancedDoctorProfile.docObj.prefix">{{advancedDoctorProfile.docObj.prefix|capitalize}} </span>
                                            {{advancedDoctorProfile.docObj.fName|capitalize}}<span ng-if="advancedDoctorProfile.docObj.mName">&nbsp{{advancedDoctorProfile.docObj.mName|capitalize}}</span> {{advancedDoctorProfile.docObj.lName|capitalize}}<span ng-if="advancedDoctorProfile.docObj.credentialText.length> 0">, {{advancedDoctorProfile.docObj.credentialText[0]}}</span> 
                           </h5>
                                        <!-- <br><span class="fad-advanced-doc-profile-doc-profile-text-speciality">{{advancedDoctorProfile.docObj.taxonomy[0].title}}</span> -->
                                        <span class="drop-down-icon">
                                    <svg style="width: 15px;" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.86 10.77"><defs><style>.cls-1{fill:#fa5f5f;fill-rule:evenodd; width: 12px; height: 8px;}</style></defs><title>Untitled-3</title><path class="cls-1" d="M11.67,8.83,4.57,1.68a1.35,1.35,0,0,0-1.92,0,1.37,1.37,0,0,0,0,1.93l8,8a1.34,1.34,0,0,0,1,.39,1.34,1.34,0,0,0,1-.39l8-8a1.37,1.37,0,0,0,0-1.93,1.35,1.35,0,0,0-1.92,0Z" transform="translate(-2.25 -1.28)"/></svg>
                                </span>
                                    </div>
                                </button>
                                <div class="dropdown-menu">
                                    <li class="dropdown-item" ui-sref="about-us">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path style="fill:#556080;" d="M101.624,5.014C49.16,4.122,5.906,45.925,5.014,98.372c-0.507,29.761,12.745,56.488,33.857,74.257
                                                c1.38-1.188,2.85-2.29,4.495-3.204l28.363-15.457c3.711-2.03,6.019-5.916,6.019-10.169v-11.607c0,0-8.313-9.962-11.481-23.792
                                                c-2.644-1.698-4.396-4.638-4.396-7.981V87.692c0-2.783,1.246-5.288,3.168-7.036V62.274c0,0-3.76-28.605,34.959-28.605
                                                c38.724,0,34.96,28.605,34.96,28.605v18.383c1.927,1.748,3.168,4.253,3.168,7.036v12.727c0,4.271-2.873,7.86-6.758,9.066
                                                c-2.169,6.74-5.302,13.166-9.433,19.015c-1.053,1.47-2.012,2.711-2.873,3.693v11.903c0,4.396,2.469,8.403,6.39,10.366
                                                l30.37,15.174c1.82,0.91,3.469,2.048,4.974,3.33c20.48-17.07,33.696-42.592,34.189-71.336
                                                C195.895,49.165,154.093,5.906,101.624,5.014L101.624,5.014z M101.624,5.014" />
                                                </g>
                                                <path style="fill:#FFFFFF;" d="M71.716,153.968l-28.345,15.457c-1.662,0.914-3.168,2.034-4.549,3.24
                                            C55.345,186.597,76.686,195,99.985,195c23.142,0,44.344-8.277,60.817-22.022c-1.506-1.277-3.173-2.433-4.992-3.343l-30.353-15.174
                                            c-3.921-1.963-6.408-5.969-6.408-10.366v-11.903c0.86-0.964,1.837-2.223,2.873-3.693c4.15-5.848,7.264-12.275,9.433-19.015
                                            c3.903-1.206,6.776-4.795,6.776-9.066V87.71c0-2.801-1.241-5.306-3.186-7.054V62.273c0,0,3.782-28.587-34.96-28.587
                                            c-38.719,0-34.942,28.587-34.942,28.587v18.383c-1.94,1.748-3.186,4.253-3.186,7.054v12.709c0,3.343,1.77,6.283,4.396,7.999
                                            c3.186,13.83,11.499,23.774,11.499,23.774v11.625C77.753,148.034,75.427,151.938,71.716,153.968L71.716,153.968z M71.716,153.968" />
                                            </g>
                                        </svg>
                                        <span>About Us</span>
                                    </li>
                                    <li class="dropdown-item" ui-sref="doc-terms-of-use">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <g>
                                                <path style="fill:#556080;" d="M99.998,5C47.535,5,5,47.534,5,99.998C5,152.465,47.535,195,99.998,195
                                            C152.466,195,195,152.465,195,99.998C195,47.534,152.466,5,99.998,5L99.998,5z" />
                                                <path style="fill:#FFFFFF;" d="M147.493,124.454v11.538c0,5.217-3.464,9.624-8.214,11.053V65.65c0-9.985-8.127-18.113-18.11-18.113
                                            H62.854c1.432-4.75,5.832-8.214,11.053-8.214h62.048c6.371,0,11.538,5.168,11.538,11.544V124.454z" />
                                                <path style="fill:#FFFFFF;" d="M121.166,54.109H59.122c-6.376,0-11.544,5.167-11.544,11.541v85.13
                                            c0,6.377,5.168,11.544,11.544,11.544h62.048c6.371,0,11.538-5.167,11.538-11.544v-11.541V77.194V65.653
                                            C132.707,59.276,127.543,54.109,121.166,54.109z M119.71,141.274H60.575v-6.572h59.135V141.274z M119.71,125.861H60.575v-6.572
                                            h59.135V125.861z M119.71,111.286H60.575v-6.569h59.135V111.286z M119.71,96.711H60.575v-6.569h59.135V96.711z M119.71,82.137
                                            H60.575v-6.572h59.135V82.137z" />
                                            </g>
                                        </svg>
                                        <span>Terms of Use</span>
                                    </li>
                                    <li class="dropdown-item" ui-sref="privacy">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <g>
                                                <path style="fill:#556080;" d="M99.998,5C47.531,5,5,47.536,5,99.997C5,152.461,47.531,195,99.998,195
                                            C152.463,195,195,152.464,195,99.997C195,47.534,152.463,5,99.998,5L99.998,5z" />
                                                <path style="fill:#FFFFFF;" d="M99.998,47.503L47.634,69.787c0,0,3.482,82.708,52.365,82.708s52.366-82.708,52.366-82.708
                                            L99.998,47.503z M94.191,126.67l-0.028-0.04l-0.044,0.04l-20.725-23.101l8.637-7.602l12.484,9.07l30.211-24.863l6.634,8.721
                                            L94.191,126.67z" />
                                            </g>
                                        </svg>
                                        <span>Privacy Policy</span>
                                    </li>
                                    <li class="dropdown-item" ui-sref="doc-faq">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <g>
                                                <path style="fill:#556080;" d="M98.327,5.01C46.084,5.701,4.316,48.577,5.01,100.763c0.691,52.152,43.606,93.896,95.846,93.203
                                                c52.219-0.701,94.008-43.577,93.316-95.752C193.468,46.05,150.556,4.307,98.327,5.01L98.327,5.01z" />
                                                <path style="fill:#FFFFFF;" d="M98.044,156.997l-0.522-0.01c-8.043-0.231-13.715-6.157-13.484-14.07
                                                c0.221-7.785,6.035-13.431,13.805-13.431l0.473,0.01c8.264,0.241,13.875,6.108,13.643,14.253
                                                C111.728,151.552,106.007,156.997,98.044,156.997L98.044,156.997z" />
                                                <path style="fill:#FFFFFF;" d="M131.88,89.92c-1.887,2.678-6.053,6.018-11.294,10.091l-5.773,3.98
                                                c-3.164,2.467-5.082,4.786-5.794,7.061c-0.563,1.787-0.843,2.267-0.895,5.908l-0.01,0.932H86.076l0.059-1.864
                                                c0.272-7.654,0.463-12.165,3.645-15.888c4.981-5.836,15.975-12.917,16.448-13.218c1.565-1.184,2.902-2.527,3.886-3.972
                                                c2.318-3.189,3.341-5.697,3.341-8.155c0-3.42-1.023-6.588-3.03-9.408c-1.928-2.716-5.593-4.09-10.906-4.09
                                                c-5.259,0-8.865,1.664-11.014,5.094c-2.218,3.52-3.341,7.21-3.341,10.981v0.942H62.442l0.039-0.981
                                                c0.594-13.901,5.552-23.912,14.759-29.758c5.783-3.72,12.983-5.608,21.388-5.608c10.983,0,20.27,2.668,27.569,7.934
                                                c7.41,5.335,11.166,13.321,11.166,23.74C137.363,79.47,135.514,84.944,131.88,89.92L131.88,89.92z" />
                                                <rect x="5" y="5" style="fill:none;" width="190" height="190" />
                                            </g>
                                        </svg>
                                        <span>FAQs</span>
                                    </li>
                                    <li class="dropdown-item" ui-sref="contact-us">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <g>
                                                <circle style="fill:#556080;" cx="100" cy="100" r="95" />
                                                <rect x="63.406" y="46.953" style="fill:none;" width="73.188" height="106.094" />
                                                <path style="fill:#ECF0F1;" d="M125.32,57.843C118.47,51,109.364,47.222,99.679,47.222c-9.697,0-18.801,3.778-25.654,10.621
                                            c-12.668,12.678-14.247,36.521-3.406,50.972l29.06,41.96l29.003-41.903C139.57,94.364,137.991,70.521,125.32,57.843z M100,94.185
                                            c-7.083,0-12.825-5.742-12.825-12.825c0-7.083,5.742-12.825,12.825-12.825c7.083,0,12.825,5.742,12.825,12.825
                                            C112.825,88.443,107.083,94.185,100,94.185z" />
                                            </g>
                                        </svg>
                                        <span>Contact Us</span>
                                    </li>
                                    <li class="dropdown-item" ng-click="advancedDoctorProfile.logout()">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                        <path style="fill:#556080;" d="M100,5C47.533,5,5,47.533,5,100s42.533,95,95,95c52.467,0,95-42.533,95-95S152.467,5,100,5z
                                             M90.795,49.363c0-2.492,0.909-4.652,2.732-6.475c1.824-1.819,3.98-2.734,6.476-2.734c2.491,0,4.651,0.91,6.47,2.734
                                            c1.823,1.823,2.737,3.978,2.737,6.475v46.035c0,2.492-0.914,4.652-2.737,6.475c-1.82,1.82-3.979,2.733-6.47,2.733
                                            c-2.496,0-4.651-0.914-6.476-2.733c-1.823-1.823-2.732-3.983-2.732-6.475V49.363z M150.853,126.04
                                            c-2.923,6.807-6.854,12.682-11.795,17.622c-4.94,4.936-10.812,8.871-17.623,11.795c-6.81,2.927-13.954,4.388-21.433,4.388
                                            c-7.484,0-14.626-1.461-21.438-4.388c-6.807-2.923-12.682-6.859-17.623-11.795c-4.936-4.94-8.867-10.815-11.794-17.622
                                            c-2.928-6.811-4.389-13.955-4.389-21.438c0-8.725,1.931-16.951,5.789-24.671c3.862-7.72,9.29-14.191,16.295-19.419
                                            c2.06-1.535,4.349-2.134,6.866-1.798c2.518,0.335,4.522,1.534,6.005,3.595c1.534,2.013,2.125,4.281,1.762,6.798
                                            c-0.358,2.517-1.547,4.543-3.56,6.078c-4.699,3.547-8.329,7.888-10.898,13.018c-2.565,5.135-3.845,10.601-3.845,16.399
                                            c0,4.991,0.969,9.747,2.913,14.281c1.94,4.531,4.566,8.449,7.876,11.76c3.306,3.307,7.225,5.932,11.759,7.876
                                            c4.531,1.94,9.29,2.914,14.278,2.914c4.987,0,9.747-0.974,14.277-2.914c4.531-1.945,8.449-4.569,11.759-7.876
                                            c3.311-3.311,5.936-7.228,7.876-11.76c1.94-4.535,2.914-9.29,2.914-14.281c0-5.798-1.284-11.268-3.85-16.399
                                            c-2.56-5.129-6.199-9.471-10.893-13.018c-2.017-1.535-3.203-3.561-3.56-6.078c-0.362-2.517,0.224-4.785,1.759-6.798
                                            c1.486-2.061,3.499-3.26,6.043-3.595c2.544-0.337,4.819,0.263,6.832,1.798c7.001,5.229,12.433,11.699,16.291,19.419
                                            c3.862,7.721,5.789,15.947,5.789,24.671C155.241,112.086,153.779,119.229,150.853,126.04z"/>
                                        </svg>
                                        <span>Logout</span>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <div id="sidebar-wrapper">
                            <ul class="sidebar-nav">
                                <li class="sidebar-brand fad-advanced-doc-profile-sidebar-progress-container">
                                    <uib-progressbar animate="false" value="advancedDoctorProfile.profileProgress" type="success"></uib-progressbar>
                                    <label class="fad-advanced-doc-profile-sidebar-progress-label">Profile completion progress is {{advancedDoctorProfile.profileProgress}}%</label>
                                </li>
                                <li ng-click="advancedDoctorProfile.navigateTo('doctor-profile-main.basic-info')" ng-class="advancedDoctorProfile.navBarCss.basicInfo" class="col-xs-3 col-md-12">
                                    <button class="btn fad-advanced-doc-profile-sidebar-progress-numbers"><span class="fad-advanced-doc-profile-sidebar-progress-numbers1">1</span></button>
                                    <br>
                                    <span class="fad-advanced-doc-profile-sidebar-progress-text">Basic Info</span>
                                </li>
                                <li ng-click="advancedDoctorProfile.navigateTo('doctor-profile-main.practice-info')" ng-class="advancedDoctorProfile.navBarCss.practiceInfo" class="col-xs-3 col-md-12">
                                    <button class="btn fad-advanced-doc-profile-sidebar-progress-numbers"><span class="fad-advanced-doc-profile-sidebar-progress-numbers1">2</span></button>
                                    <br>
                                    <span class="fad-advanced-doc-profile-sidebar-progress-text">Practice Info</span>
                                </li>
                                <li ng-click="advancedDoctorProfile.navigateTo('doctor-profile-main.insurances')" ng-class="advancedDoctorProfile.navBarCss.insurances" class="col-xs-3 col-md-12">
                                    <button class="btn fad-advanced-doc-profile-sidebar-progress-numbers"><span class="fad-advanced-doc-profile-sidebar-progress-numbers1">3</span></button>
                                    <br>
                                    <span class="fad-advanced-doc-profile-sidebar-progress-text">Network Insurances</span>
                                </li>
                                <li ng-click="advancedDoctorProfile.navigateTo('doctor-profile-main.education')" ng-class="advancedDoctorProfile.navBarCss.education" class="col-xs-3 col-md-12">
                                    <button class="btn fad-advanced-doc-profile-sidebar-progress-numbers"><span class="fad-advanced-doc-profile-sidebar-progress-numbers1">4</span></button>
                                    <br>
                                    <span class="fad-advanced-doc-profile-sidebar-progress-text">Educational Credentials</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <div class="row fad-advanced-doc-profile-main-container-row">
                            <div class="col-md-12 col-xs-12 fad-advanced-doc-profile-inside-container">
                                <div ui-view></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
