<!-- <div class="container-fluid" style="background: #f2f2f2; padding-top: 40px; margin: 15px; position:relative; top: -15px;">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 fad-user-su-footer" style="margin-bottom: 15px;">
            <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
        </div>
    </div>
</div> -->
<main style="height: 100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-user-su-container-fluid" id="abc" style="height: calc(100vh - 30px);margin: 15px 0;position: relative;">
            <div class="row" style="background: #f2f2f2;">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-su-logo-container">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <img class="fad-login-header-logo" src="../../../assets/images/logo-horizontal.png">
                            </a>
                        </div>
                    </div>
                    <hr style="border-top:1px solid #d1d1d1; opacity: 0.5; margin-top: 0;">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row" style="margin-bottom: 25px;">
                        <h3 class="text-center fad-doc-su-main-text">A transformative approach to <span>BOOST YOUR PRACTICE !</span></h3>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="row fad-doc-su-form-container">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h3 class="fad-user-su-form-header col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <span class="fad-user-su-form-header-name">get started</span>
                        </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form novalidate role="form" name="doctorRegistration">
                                <div class="row">
                                    <div class="col-md-11 col-sm-12 col-xs-12">
                                        <input ng-change="doctorSignup.checkNpi()" ng-model="doctorSignup.user.npi" minLength="10" maxLength="10" type="text" name="npi" id="npi" required class="fad-inputs form-control" placeholder="Enter your NPI number" tabindex="1" input-number-only ng-focus="doctorSignup.newNpi = false" autocomplete="off">
                                        <svg  ng-show="doctorSignup.npiValidation == undefined" style="width: 20px;position: absolute;right: -20px;top: 7px;" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">
                                            <defs>
                                                <style>
                                                .cls-npi-3 {
                                                    fill: #ccc !important;
                                                }
                                                </style>
                                            </defs>
                                            <title>Artboard 2</title>
                                            <path class="cls-npi-3" d="M50,1A49,49,0,1,0,99,50,49,49,0,0,0,50,1ZM43.7,71l-21-21,8.38-8.41L43.7,54.2,68.91,29l8.38,8.41Z" />
                                        </svg>
                                        <svg ng-show="!!doctorSignup.npiValidation" style="width: 20px;position: absolute;right: -20px;top: 7px;" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 100 100">
                                            <defs>
                                                <style>
                                                .cls-npi-1 {
                                                    fill: #3a9300 !important;
                                                }
                                                </style>
                                            </defs>
                                            <title>Artboard 2</title>
                                            <path class="cls-npi-1" d="M50,1A49,49,0,1,0,99,50,49,49,0,0,0,50,1ZM43.7,71l-21-21,8.38-8.41L43.7,54.2,68.91,29l8.38,8.41Z" />
                                        </svg>
                                        <svg ng-show="doctorSignup.npiValidation == false" style="width: 20px;position: absolute;right: -20px;top: 7px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 44 44" enable-background="new 0 0 44 44">
                                            <defs>
                                                <style>
                                                .cls-npi-2 {
                                                    fill: #fa5f5f;
                                                }
                                                </style>
                                            </defs>
                                            <title>Artboard 2</title>
                                            <path class="cls-npi-2" d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm3.2,22.4l7.5,7.5c0.2,0.2 0.3,0.5 0.3,0.7s-0.1,0.5-0.3,0.7l-1.4,1.4c-0.2,0.2-0.5,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-7.5-7.5c-0.2-0.2-0.5-0.2-0.7,0l-7.5,7.5c-0.2,0.2-0.5,0.3-0.7,0.3-0.3,0-0.5-0.1-0.7-0.3l-1.4-1.4c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l7.5-7.5c0.2-0.2 0.2-0.5 0-0.7l-7.5-7.5c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.2-0.2 0.5-0.3 0.7-0.3s0.5,0.1 0.7,0.3l7.5,7.5c0.2,0.2 0.5,0.2 0.7,0l7.5-7.5c0.2-0.2 0.5-0.3 0.7-0.3 0.3,0 0.5,0.1 0.7,0.3l1.4,1.4c0.2,0.2 0.3,0.5 0.3,0.7s-0.1,0.5-0.3,0.7l-7.5,7.5c-0.2,0.1-0.2,0.5 3.55271e-15,0.7z" />
                                        </svg>
                                        <!-- <svg>
                                            <path xmlns="http://www.w3.org/2000/svg" class="cls-1" d="M50,1A49,49,0,1,0,99,50,49,49,0,0,0,50,1ZM43.7,71l-21-21,8.38-8.41L43.7,54.2,68.91,29l8.38,8.41Z"/>
                                        </svg> -->
                                        <svg style="width: 15px; position: absolute; right: 24px; top: 9px;" id="Layer_1 " data-name="Layer 1 " xmlns="http://www.w3.org/2000/svg " viewBox="0 0 23.49 23.49 " ng-click="doctorSignup.showAlert($event)">
                                            <defs>
                                                <style>
                                                .cls-1 {
                                                    fill: #666;
                                                }
                                                
                                                .cls-2 {
                                                    fill: #666;
                                                }
                                                </style>
                                            </defs>
                                            <title>i</title>
                                            <path class="cls-1 " d="M12.64.84A11.74,11.74,0,1,0,24.38,12.58,11.76,11.76,0,0,0,12.64.84Zm0,22a10.3,10.3,0,1,1,10.3-10.3,10.31,10.31,0,0,1-10.3,10.3Zm0,0 " transform="translate(-0.9 -0.84) " />
                                            <path class="cls-2 " d="M13.83,7.9a1.21,1.21,0,1,1-1.21-1.21A1.21,1.21,0,0,1,13.83,7.9Zm0,0 " transform="translate(-0.9 -0.84) " />
                                            <path class="cls-2 " d="M12.62,11.08a.72.72,0,0,0-.72.72v6.14a.72.72,0,0,0,1.45,0V11.8a.72.72,0,0,0-.72-.72Zm0,0 " transform="translate(-0.9 -0.84) " />
                                        </svg>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.npi.$error.minlength">NPI is less than 10 digits<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorSignup.user.npi === '0000000000'">Not all zeros<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.npi.$error.maxlength">NPI is more than 10 digits<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.$submitted&&doctorRegistration.npi.$error.required">NPI is required field<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorSignup.npiExisting">NPI is already taken<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorSignup.newNpi">Entered NPI is not in our database, please enter a valid NPI<br></span>
                                        <span class="fad-doc-su-form-alert" ng-show="doctorSignup.npiValidation == false">Entered NPI is not in our database, please enter a valid NPI to continue<br></span>
                                        <!-- ng-hide="doctorRegistration.npi.$touched" -->
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input ng-model="doctorSignup.user.username" type="email" id="email" name="email" required class="disabled-input fad-inputs form-control" placeholder="Email address" tabindex="2" ng-focus="doctorSignup.emailIdExisting = false" ng-disabled="!doctorSignup.npiValidation" ng-model-options="{ updateOn: blur }" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.email.$error.pattern">Please enter valid email address<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.email.$dirty&&doctorRegistration.email.$error.required">Email is required field<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.$submitted&&doctorRegistration.email.$error.required">Email is required field<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorSignup.emailIdExisting">Email is already taken<br></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div data-tip="A confirmation code will be sent to this number.">
                                                    <input ng-model="doctorSignup.user.mobile" type="tel" id="mobile" name="mobile" class="mobile disabled-input fad-inputs form-control" intl-tel-input intl-tel-input-controller="doctorSignup.mobile.mobileCtrl" tabindex="3" required ng-focus="doctorSignup.mobileExisting = false" ng-disabled="!doctorSignup.npiValidation">
                                                </div>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorSignup.mobileExisting">Mobile number is already taken<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="(doctorRegistration.$submitted && doctorRegistration.mobile.$error.required) || (doctorRegistration.mobile.$invalid && doctorRegistration.mobile.$touched)">Invalid mobile number</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input ng-model="doctorSignup.user.password" type="{{doctorSignup.pwdInputType}}" id="password" ng-minlength="8" name="password" ng-maxlength="12" class="disabled-input fad-inputs form-control" placeholder="Password" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*?[\d])/" required ng-change="doctorSignup.checkForNonAlphaNumeric(doctorSignup.user.password)" tabindex="4" style="padding-right: 24px;" autocomplete="off" ng-disabled="!doctorSignup.npiValidation">
                                                <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.$submitted&&doctorRegistration.password.$error.required">Password is required field<br></span>
                                                <span style="position: absolute; right: 20px; top: 7px;" ng-click="doctorSignup.pwdChangeIcon(doctorSignup.pwdInputType)"> 
                                            <svg ng-hide="!doctorSignup.npiValidation" ng-if="doctorSignup.pwdInputType==='password'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{fill:#7D7D7D;}
                                                .st1{fill:none;}
                                                .st2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                                .st3{fill:none;stroke:#7D7D7D;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                            </style>
                                            <path class="st0" d="M100,46.4c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c23,30.6,54.2,49.4,88.6,49.4  c34.4,0,65.6-18.8,88.6-49.4c1.9-2.5,1.9-6,0-8.5C165.6,65.2,134.4,46.4,100,46.4L100,46.4z M102.5,137.8  c-22.8,1.4-41.7-17.4-40.2-40.2c1.2-18.9,16.5-34.1,35.3-35.3c22.8-1.4,41.7,17.4,40.2,40.2C136.6,121.3,121.3,136.6,102.5,137.8  L102.5,137.8z M101.3,120.3C89,121.1,78.9,111,79.7,98.7c0.6-10.2,8.9-18.4,19-19c12.3-0.8,22.5,9.4,21.7,21.7  C119.7,111.5,111.5,119.7,101.3,120.3L101.3,120.3z M101.3,120.3"/>
                                        </svg>
                                        <svg ng-hide="!doctorSignup.npiValidation" ng-if="doctorSignup.pwdInputType==='text'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0{fill:#fa5f5f;}
                                            .st1{fill:none;}
                                            .st2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                            .st3{fill:none;stroke:#fa5f5f;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                        </style>
                                        <g>
                                            <path class="st1" d="M79.7,98.7c0.6-10.2,8.9-18.4,19-19c4.4-0.3,8.5,0.9,12,3l11.1-13.5c-6.8-4.8-15.2-7.5-24.3-6.9   c-18.9,1.2-34.1,16.5-35.3,35.3c-0.7,11.7,3.9,22.4,11.6,29.8L85,113.8C81.4,109.8,79.3,104.5,79.7,98.7z"/>
                                            <path class="st1" d="M120.4,101.3c-0.7,10.2-8.9,18.4-19,19c-3.5,0.2-6.9-0.5-9.9-1.8l-11.3,13.7c6.4,4,14.1,6.1,22.3,5.6   c18.8-1.2,34.1-16.5,35.3-35.3c0.7-10.8-3.2-20.8-9.9-28.1l-11.3,13.7C119.2,91.7,120.7,96.3,120.4,101.3z"/>
                                            <path class="st0" d="M188.6,95.8c-13-17.3-28.6-30.8-45.9-39.3l-14.8,17.9c6.7,7.3,10.6,17.2,9.9,28.1   c-1.2,18.8-16.5,34.1-35.3,35.3c-8.2,0.5-15.9-1.6-22.3-5.6l-12.8,15.6c10.4,3.8,21.4,5.9,32.7,5.9c34.4,0,65.6-18.8,88.6-49.4   C190.5,101.8,190.5,98.3,188.6,95.8z"/>
                                            <path class="st0" d="M101.3,120.3c10.1-0.6,18.4-8.8,19-19c0.3-5-1.1-9.5-3.8-13.2l-25.1,30.4C94.4,119.9,97.8,120.5,101.3,120.3z"/>
                                            <path class="st0" d="M98.7,79.6c-10.2,0.7-18.4,8.9-19,19c-0.4,5.8,1.7,11.2,5.3,15.1l25.7-31.2C107.2,80.5,103.1,79.4,98.7,79.6z"/>
                                            <path class="st0" d="M62.2,97.5c1.2-18.9,16.5-34.1,35.3-35.3c9.1-0.6,17.5,2.1,24.3,6.9l13.2-16c-11.1-4.4-22.9-6.8-35.1-6.8   c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c13.6,18,29.9,31.9,48.1,40.4l14.3-17.3C66.1,119.9,61.5,109.3,62.2,97.5z"/>
                                        </g>
                                        <line class="st3" x1="159.9" y1="29.3" x2="43.6" y2="170.2"/>
                                        </svg>
                                        </span>
                                                <!-- <span class="fad-doc-su-form-alert" ng-show="doctorRegistration.password.$error.required && doctorRegistration.password.$dirty">required</span> -->
                                                <span class="fad-doc-su-form-alert" ng-show="!doctorRegistration.password.$error.required && !doctorRegistration.password.$error.minlength && !doctorRegistration.password.$error.maxlength && doctorRegistration.password.$error.pattern && doctorRegistration.password.$dirty">Password must contain at least 8-12 characters, including at least 1 number and includes both lower and uppercase letters.<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="!doctorRegistration.password.$error.required && (doctorRegistration.password.$error.minlength || doctorRegistration.password.$error.maxlength) && doctorRegistration.password.$dirty">Passwords must be between 8 and 12 characters.<br></span>
                                                <span class="fad-doc-su-form-alert" ng-show="doctorSignup.errorAlphaNumeric">Shouldn't contain special characters<br></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input ng-disabled="!doctorSignup.user.password" ng-model="confirmPassword" compare-to="doctorSignup.user.password" type="{{doctorSignup.pwdInputTypeConfirm}}" id="confirmPassword" name="confirmPassword" class="disabled-input fad-inputs form-control" placeholder="Confirm password" tabindex="5" style="padding-right: 24px;" autocomplete="off">
                                                <span style="position: absolute; right: 20px; top: 7px;" ng-click="doctorSignup.pwdChangeIconConfirm(doctorSignup.pwdInputTypeConfirm)"> 
                                            <svg ng-hide="!doctorSignup.user.password" ng-if="doctorSignup.pwdInputTypeConfirm==='password'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <style type="text/css">
                                                .sta0{fill:#7D7D7D;}
                                                .sta1{fill:none;}
                                                .sta2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                                .sta3{fill:none;stroke:#7D7D7D;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                            </style>
                                            <path class="sta0" d="M100,46.4c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c23,30.6,54.2,49.4,88.6,49.4  c34.4,0,65.6-18.8,88.6-49.4c1.9-2.5,1.9-6,0-8.5C165.6,65.2,134.4,46.4,100,46.4L100,46.4z M102.5,137.8  c-22.8,1.4-41.7-17.4-40.2-40.2c1.2-18.9,16.5-34.1,35.3-35.3c22.8-1.4,41.7,17.4,40.2,40.2C136.6,121.3,121.3,136.6,102.5,137.8  L102.5,137.8z M101.3,120.3C89,121.1,78.9,111,79.7,98.7c0.6-10.2,8.9-18.4,19-19c12.3-0.8,22.5,9.4,21.7,21.7  C119.7,111.5,111.5,119.7,101.3,120.3L101.3,120.3z M101.3,120.3"/>
                                        </svg>
                                        <svg ng-hide="!doctorSignup.user.password" ng-if="doctorSignup.pwdInputTypeConfirm==='text'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                        <style type="text/css">
                                            .sta0{fill:#fa5f5f;}
                                            .sta1{fill:none;}
                                            .sta2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                            .sta3{fill:none;stroke:#fa5f5f;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                        </style>
                                        <g>
                                            <path class="sta1" d="M79.7,98.7c0.6-10.2,8.9-18.4,19-19c4.4-0.3,8.5,0.9,12,3l11.1-13.5c-6.8-4.8-15.2-7.5-24.3-6.9   c-18.9,1.2-34.1,16.5-35.3,35.3c-0.7,11.7,3.9,22.4,11.6,29.8L85,113.8C81.4,109.8,79.3,104.5,79.7,98.7z"/>
                                            <path class="sta1" d="M120.4,101.3c-0.7,10.2-8.9,18.4-19,19c-3.5,0.2-6.9-0.5-9.9-1.8l-11.3,13.7c6.4,4,14.1,6.1,22.3,5.6   c18.8-1.2,34.1-16.5,35.3-35.3c0.7-10.8-3.2-20.8-9.9-28.1l-11.3,13.7C119.2,91.7,120.7,96.3,120.4,101.3z"/>
                                            <path class="sta0" d="M188.6,95.8c-13-17.3-28.6-30.8-45.9-39.3l-14.8,17.9c6.7,7.3,10.6,17.2,9.9,28.1   c-1.2,18.8-16.5,34.1-35.3,35.3c-8.2,0.5-15.9-1.6-22.3-5.6l-12.8,15.6c10.4,3.8,21.4,5.9,32.7,5.9c34.4,0,65.6-18.8,88.6-49.4   C190.5,101.8,190.5,98.3,188.6,95.8z"/>
                                            <path class="sta0" d="M101.3,120.3c10.1-0.6,18.4-8.8,19-19c0.3-5-1.1-9.5-3.8-13.2l-25.1,30.4C94.4,119.9,97.8,120.5,101.3,120.3z"/>
                                            <path class="sta0" d="M98.7,79.6c-10.2,0.7-18.4,8.9-19,19c-0.4,5.8,1.7,11.2,5.3,15.1l25.7-31.2C107.2,80.5,103.1,79.4,98.7,79.6z"/>
                                            <path class="sta0" d="M62.2,97.5c1.2-18.9,16.5-34.1,35.3-35.3c9.1-0.6,17.5,2.1,24.3,6.9l13.2-16c-11.1-4.4-22.9-6.8-35.1-6.8   c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c13.6,18,29.9,31.9,48.1,40.4l14.3-17.3C66.1,119.9,61.5,109.3,62.2,97.5z"/>
                                        </g>
                                        <line class="sta3" x1="159.9" y1="29.3" x2="43.6" y2="170.2"/>
                                        </svg>
                                        </span>
                                                <!-- {{confirmPassword !== doctorSignup.user.password}} -->
                                                <span class="fad-doc-su-form-alert" ng-show="(doctorRegistration.confirmPassword.$touched || doctorRegistration.$submitted)&&confirmPassword !== doctorSignup.user.password">Passwords do not match<br></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="fad-user-su-checkbox">
                                                    <label>
                                                        <md-checkbox ng-model="doctorSignup.doctorRegistrationValue">
                                                        </md-checkbox>
                                                        <h6>I have read and accepted FINDaDOCTOR’s <a ui-sref="terms-of-use" title="" target="_block">Terms of Use</a> & <a href="" title="">HIPAA Compliance</a></h6>
                                                    </label>
                                                    <span style="display:block; top: 0px;" class="fad-doc-su-form-alert" ng-show="doctorRegistration.$submitted&&!doctorSignup.doctorRegistrationValue">Should accept the Terms of Use & HIPPA Compliance</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                                            <button class="btn btn-raised fad-doc-su-form-btn" type="submit" ng-click="!!doctorSignup.doctorRegistrationValue&&doctorSignup.showConfirm(doctorRegistration)">
                                                <!-- ng-disabled="!(doctorRegistration.doctorRegistrationValue&&!doctorSignup.errorAlphaNumeric&&doctorRegistration.$valid)" -->
                                                <!-- !!doctorSignup.doctorRegistrationValue&&doctorSignup.registerDoctor(doctorRegistration) -->
                                                <!-- doctorSignup.showConfirm(doctorRegistration) -->
                                                LIST MY PRACTICE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-user-su-footer footer">
                    <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</main>
