//Doctor signup
md-virtual-repeat-container {
    z-index: 10000 !important;
}

md-dialog-actions {
    button {
        color: #fa5f5f !important;
    }
}

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fa5f5f;
    position: absolute;
    top: -5px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    transition: all 0.3s ease-in-out !important;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: -35px;
    left: 0px;
    padding: 6px 8px;
    background: #fa5f5f;
    color: #fff;
    z-index: 9;
    font-size: 0.75em;
    height: auto;
    line-height: 18px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    transition: all 0.3s ease-in-out !important;
}

[data-tip]:hover:before,
[data-tip]:hover:after,
[data-tip]:focus:before,
[data-tip]:focus:after {
    display: block;
}

.md-autocomplete-suggestions-container {
    li {
        &.selected {
            background: #fa5f5f;
            color: #fff;
            .highlight {
                color: #333;
            }
            .fad-color-code {
                color: #333;
            }
        }
         &:hover {
            background: #999;
            color: #fff;
            .highlight {
                color: #fa5f5f;
            }
            .fad-color-code {
                color: #000;
            }
         }
    }
}

.disabled-input {
    &:disabled {
        border: 1px solid #eee !important;
        background: #f2f2f2 !important;
        &::-webkit-input-placeholder {
            opacity: 0.1;
        }
    }
}

.fad-drop-down-update {
    display: block;
    width: 100%;
    text-transform: capitalize !important;
    color: #666666 !important;
    background-color: #f2f2f2 !important;
    text-align: left;
    font-weight: 400;
    border: 1px solid #ccc !important;
    background-image: none !important;
    span {
        svg {
            width: 14px;
            float: right;
            position: relative;
            left: 0px;
            top: 6px;
            transition: all 0.3s ease-in-out;
        }
    }
    &:focus {
        outline: 0 !important;
        color: rgba(102, 102, 102, 0.3);
        box-shadow: none;
        border: 1px solid #ccc;
        span {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    &:active {
        box-shadow: none;
    }
}

.md-virtual-repeat-container {
    &.md-autocomplete-suggestions-container {
        max-height: 325.5px !important;
        height: 325.5px;
    }
}

md-input-container {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    &.md-input-focused:not(.md-input-has-value) {
        md-select {
            .md-select-value.md-select-placeholder {
                color: #fa5f5f;
            }
        }
    }
    md-select {
        &:not([disabled]) {
            &:focus {
                .md-select-value {
                    border-bottom-color: #fa5f5f;
                }
            }
        }
        &.md-default-theme {
            &:not([disabled]) {
                &:focus {
                    .md-select-value {
                        border-bottom-color: #fa5f5f;
                    }
                }
            }
        }
    }
    label {}
    &.md-input-invalid {
        .md-input {
            border-color: #fa5f5f;
        }
        label {
            color: #fa5f5f;
        }
    }
    &:not(.md-input-invalid).md-input-focused {
        .md-input {
            border-color: #fa5f5f;
        }
        label {
            color: #fa5f5f;
        }
    }
}

.md-select-menu-container {
    z-index: 10000;
}

.fad-doc-su-container {
    background: #fff;
}

.fad-doc-su-main-row {
    .fad-user-su-footer {
        bottom: -40px !important;
    }
}

.fad-doc-su-main-text {
    color: #666;
    font-size: 22px;
    margin-top: 10px;
    span {
        color: #fa5f5f;
        font-weight: bold;
        font-size: 24px;
    }
}

.fad-doc-su-form-container {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background: #fff;
    .fad-user-su-checkbox {
        margin: 10px 0 !important;
    }
    .form-group {
        margin-bottom: 15px !important;
    }
    h5 {
        margin-bottom: 25px;
    }
}

.fad-doc-su-form-input {
    border-radius: 0;
    background: #eee;
    padding: 6px;
    border: 1px solid #ccc;
    width: 100%;
    height: 34px;
    font-size: 12px;
    transition: border 0.3s linear;
    &:focus {
        outline: 0 !important;
        border: 1px solid #fa5f5f;
    }
    &::-webkit-input-placeholder {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.fad-doc-su-form-alert {
    font-size: 12px;
    color: #fa5f5f;
    font-weight: 700;
    opacity: 0.7;
    top: -10px;
    position: relative;
}

.fad-doc-su-form-btn {
    border-radius: 0;
    background: #fa5f5f !important;
    padding: 6px;
    font-weight: 600;
    color: #fff !important;
    font-size: 14px;
    border: 1px solid transparent;
    letter-spacing: 1px;
    height: 34px;
    transition: all 0.3s ease-in !important;
    width: 100%;
    &:focus {
        outline: 0 !important;
    }
    &:hover {
        color: #fff !important;
        background: #CD5C5C !important;
        outline: 0 !important;
    }
    &:disabled {
        background: #e4e4e4 !important;
    }
}

.fad-doc-prof-upd-gender-selectize {
    & > div {
        box-shadow: none;
        height: 34px;
    }
    .selectize-control {
        &.single {
            .selectize-input {
                height: 34px;
                padding: 6px 10px;
                background-image: none;
                background-repeat: no-repeat;
                background-color: #f2f2f2;
                font-size: 14px;
                box-shadow: none;
                transition: all 0.3s ease-in-out;
                border: 1px solid #ccc;
                color: #555;
                &:after {
                    margin-top: 0;
                    border: 0;
                    content: ' ';
                    width: 12px;
                    height: 12px;
                    background: url("user/search/svg/drop-down.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    top: 13px;
                    transition: all 0.3s ease-in-out;
                }
                &.focus {
                    &:after {
                        transform: rotate(360deg);
                        top: 13px;
                        opacity: 0.3;
                    }
                    outline: 0;
                    // outline: 1px solid rgba(250, 95, 95, 0.7);
                    .ui-select-search {
                        &::-webkit-input-placeholder {
                            opacity: 0.3;
                        }
                    }
                }
            }
        }
    }
    .selectize-dropdown {
        box-shadow: 1px 1px 16px rgba(4, 4, 4, 0.1);
        border: 1px solid #d6d6d6;
        .active {
            background-color: #fff !important;
            color: #303030;
            &:hover {
                background: #fff;
                color: $primary-color;
            }
        }
    }
    .ui-select-search {
        &::-webkit-input-placeholder {
            color: #555;
            font-size: 14px;
            opacity: 0.5;
        }
    }
    .ui-select-choices-row {
        &:hover {
            color: $primary-color;
            background-color: #fff;
        }
    }
}

// doctor profile otp
.fad-doc-prof-otp-main-text-container {
    color: #666;
    h2 {
        font-weight: 700;
        margin: 25px auto;
        font-size: 26px;
        span {
            font-size: 30px;
            color: #fa5f5f;
        }
    }
    h3 {
        margin: 25px auto;
    }
    h1 {
        font-weight: 700;
        color: #333;
        margin: 25px auto;
    }
}

.fad-doc-prof-otp-no-conf-container {
    margin: 30px auto;
    .fad-doc-prof-otp-no-conf {
        border: 1px solid #FA5F5F;
        border-radius: 0;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        transition: all 0.3s linear;
        height: 40px;
        background: transparent;
        &::-webkit-input-placeholder {
            color: #fa5f5f;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1px;
            opacity: 1;
        }
        &:focus {
            outline: 0 !important;
            box-shadow: none;
            &::-webkit-input-placeholder {
                opacity: 0.5;
            }
        }
    }
    .fad-doc-prof-otp-no-conf-btn {
        color: #333;
        text-decoration: underline;
        transition: all 0.3s ease-in;
        &:focus {
            outline: 0 !important;
        }
        &:hover {
            color: #fa5f5f;
        }
    }
}

.fad-doc-prof-otp-no-proceed-btn {
    border: 1px solid transparent;
    background: #fa5f5f !important;
    padding: 10px;
    font-weight: 700;
    color: #fff !important;
    font-size: 18px;
    letter-spacing: 1px;
    width: 70%;
    transition: all 0.3s linear;
    &:focus {
        outline: 0 !important;
    }
    &:hover {
        color: #fff !important;
        background: #CD5C5C !important;
    }
    &:disabled {
        color: #fff !important;
        background: #fa5f5f !important;
        opacity: 0.2;
    }
}

.top-buffer {
    margin-top: 10px;
}

.height100percent {
    height: 100%;
}

.modal-content {
    min-height: calc(100vh - 60px);
    padding: 30px;
}

.modal {
    background-image: none;
    background-size: cover;
}

.fad-add-prac-loc-modal-footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    h4 {
        font-size: 8px;
        &:before {
            content: "";
            position: absolute;
            width: 36%;
            height: 1px;
            bottom: 25px;
            left: 32%;
            border-bottom: 1px solid #fa5f5f;
        }
        span {
            color: #fa5f5f;
            font-weight: 600;
        }
    }
}

.fad-add-spec-modal-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    .fad-add-spec-modal-title {
        color: #666;
        margin: 0;
        svg {
            float: right;
            position: relative;
            top: 8px;
            width: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in;
            &:hover {
                transform: scale(2.0) rotate(90deg);
            }
        }
    }
}

.fad-add-spec-modal-footer {
    border: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    .fad-doctor-su-upd-search-sub {
        border-radius: 0;
        background: #fa5f5f;
        padding: 8px 40px;
        font-weight: 600;
        color: #fff !important;
        font-size: 10px;
        border: 1px solid transparent;
        letter-spacing: 2px;
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        &:hover {
            color: #fff !important;
            background: #CD5C5C !important;
        }
        &:focus {
            color: #fff !important;
            background: #CD5C5C !important;
            border: 1px solid transparent;
            outline: 0 !important;
        }
        &:disabled {
            background: #e4e4e4 !important;
        }
    }
    h4 {
        font-size: 10px;
        border-top: 1px solid #ccc;
        padding: 5px;
        span {
            color: #fa5f5f;
            font-weight: 600;
        }
    }
}

.fad-modals-body-container {
    max-height: 340px;
    padding: 0 15px 0 30px;
    overflow-y: scroll;
}

.fad-add-spec-modal-body {
    .fad-doctor-su-upd-search {
        background: #eee;
        border: 0;
        border-radius: 10px;
        box-shadow: none;
        border-bottom-right-radius: 10px !important;
        border-top-right-radius: 10px &::-webkit-input-placeholder {}
    }
    .fad-doctor-su-upd-btn {
        background: #eee;
        border: 0;
        border-left: 2px solid #fff;
        color: #FA5F5F;
        z-index: 0;
        height: 34px;
        padding: 6px 30px;
        border-radius: 0 10px 10px 0;
        transition: all 0.5s linear;
        &:hover {
            color: #eee;
            background: #fa5f5f;
        }
        &:focus {
            outline: 0 !important;
            color: #666;
        }
    }
    .fad-doc-upd-speciality-list {
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        padding: 10px;
        width: calc(100% - 30px);
        margin-left: 15px;
        color: #666;
        font-weight: 400;
        letter-spacing: 1px;
        md-checkbox {
            margin-bottom: 0;
            top: -2px;
            float: right;
            .md-container {
                width: 15px;
                height: 15px;
            }
            .md-icon {
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                width: 15px;
                height: 15px;
            }
            .md-label {
                margin-left: 20px;
            }
            &.md-checked {
                .md-icon {
                    background-color: rgba(250, 95, 95, 0.87);
                    border-radius: 4px;
                    width: 15px;
                    height: 15px;
                    &:after {
                        left: 3.66667px;
                        top: 0.22222px;
                        width: 5.66667px;
                        height: 11.33333px;
                    }
                }
                .md-ink-ripple {
                    background-color: rgba(250, 95, 95, 0.87);
                    border-radius: 4px;
                }
            }
        }
    }
}

.fad-su-footer {
    background: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 40px;
}

.fad-su-footer-text {
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.fad-su-social-link-lists a i {
    color: #3b5998;
}

.fad-su-social-link-lists-google a i {
    color: #d34836;
}

.fad-su-main-form {
    border-radius: 0;
    background: #fff;
    padding: 12px;
    border: 0;
}

.fad-doc-prof-update-msg {
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
    color: #fa5f5f;
    font-weight: 700;
}

.fad-su-main-form-msg {
    font-size: 9px;
    color: #fa5f5f;
    letter-spacing: 1px;
    font-weight: 200;
}

.fad-su-main-form-btn {
    border-radius: 0;
    background: #fa5f5f;
    padding: 12px;
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    border: 0;
    letter-spacing: 2px;
}

.fad-su-main-containers {
    background: #fff;
    padding: 30px 20px;
}

.fad-su-main-header-text {
    text-align: center;
    letter-spacing: 1px;
    color: #666;
    font-weight: 400;
    padding: 15px 0 25px 0;
}

.fad-su-doc-update-form {
    background: #fff;
    border: 1px solid rgba(204, 204, 204, 0.4) !important;
    border-radius: 0 !important;
    font-size: 16px !important;
    background-image: none !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) !important;
    color: #000 !important;
    text-align: center;
}

.fad-su-doctor-prof-upd-spec-form {
    text-align: left;
    font-size: 14px !important;
    background: #eee;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 8px 20px;
    color: #333 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: bold !important;
    span {
        display: block;
        color: #333;
        font-size: 10px;
    }
    .fad-su-doctor-prof-update-spec-close {
        position: absolute;
        top: 10px;
        right: 22px;
        color: #fa5f5f;
        width: 14px;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.4) rotate(90deg);
            opacity: 1;
        }
    }
}

.fad-su-doctor-prof-upd-loc-form {
    text-align: left;
    font-size: 14px;
    background: #eee;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 8px 24px;
    color: #333;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    height: 48px;
    span {
        // display: block;
        color: #666;
        font-size: 10px;
        font-weight: 500;
    }
    p {
        .fad-su-doctor-prof-update-loc-close {
            position: absolute;
            top: 27px;
            right: 22px;
            color: #fa5f5f;
            width: 14px;
            opacity: 0.5;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                transform: scale(1.4) rotate(90deg);
                opacity: 1;
            }
        }
    }
    .fad-su-doctor-prof-upd-loc-form-no-org-name {
        margin: 0;
        top: 8px;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        span {
            color: #333;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .fad-su-doctor-prof-update-loc-close {
        position: absolute;
        top: 27px;
        right: 22px;
        color: #fa5f5f;
        width: 14px;
        opacity: 0.5;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.4) rotate(90deg);
            opacity: 1;
        }
    }
}


.fad-doc-prof-upd-add-btn-label {
    font-size: 14px;
    color: #666;
    padding: 8px 0;
    height: 34px;
    position: relative;
    right: 8px;
    .fad-su-doctor-prof-update-add {
        position: relative;
        top: 1px;
        right: 0px;
        color: #fa5f5f;
        width: 16px;
        margin-left: 30px;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.4) rotate(90deg);
        }
    }
}

h3 {
    &.fad-ap-questions {
        display: table;
        white-space: nowrap;
        padding: 10px 40px;
        font-size: 14px;
        margin-top: 10px;
        &:before,
        &:after {
            border-top: 1px solid #ccc;
            content: '';
            display: table-cell;
            position: relative;
            top: 0.5em;
            width: 50%;
        }
    }
    .fad-ap-questions-header {
        color: #fa5f5f;
        padding: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.fad-su-doctor-prof-update-form-btn {
    border: 1px solid transparent;
    border-radius: 0;
    background: #fa5f5f !important;
    padding: 6px;
    width: 100%;
    font-weight: 600;
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s linear !important;
    &:hover {
        color: #fff !important;
        background: #CD5C5C !important;
        outline: 0 !important;
    }
    &:focus {
        box-shadow: none;
    }
    &:disabled {
        background-color: #e4e4e4 !important;
    }
}

.fad-su-doctor-prof-update-form-btn-inactive {
    border: 1px solid transparent;
    border-radius: 0;
    background: #fa5f5f;
    padding: 6px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s linear !important;
    &:hover {
        color: #fff;
        background: #CD5C5C;
        outline: 0 !important;
    }
}

.form-control[disabled] {
    &:hover {
        background: #eee;
        border-color: 0;
        color: #fff;
    }
}

.fad-doctor-su-upd-add-btn,
.fad-doctor-su-upd-add-btn:hover,
.fad-doctor-su-upd-add-btn:focus {
    border: 0;
    float: right;
    text-decoration: none;
    color: #666;
    outline: 0;
    background: transparent;
}

.fad-su-doc-upd-prac-loc-header {
    padding: 0;
    border: 0;
    .fad-su-doc-upd-prac-loc-btn {
        float: right;
        text-decoration: none;
        color: #fa5f5f;
        font-size: 12px;
        transition: all 0.3s linear;
        &:hover {
            transform: scale(1.1);
            border: 1px solid transparent;
            background: #fa5f5f;
            color: #fff;
            text-decoration: none;
        }
        &:focus {
            outline: 0 !important;
            text-decoration: none;
        }
    }
}

.selectize-input.selectize-focus {
    border-color: #ccc !important;
}

.modal-body {
    padding: 20px;
}

.fad-su-doc-upd-prac-loc-label {
    background: #eee;
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: #FA5F5F;
    margin: 20px 0;
    width: 100%;
    font-weight: 900;
    svg {
        width: 12px;
        float: right;
        top: 3px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
            transform: scale(1.2) rotate(360deg);
            .cls-1 {
                opacity: 1;
            }
        }
    }
}

.fad-doc-prof-upd-img-container {
    text-align: center;
    margin-bottom: 25px;
}

.fad-su-doc-upd-prac-loc-inp {
    margin: 10px 0;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px;
    border-radius: 0;
    border: 1px solid transparent;
}

.fad-su-doc-upd-prac-loc-drop {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px;
    border-radius: 0;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: left;
    height: 34px
}

.fad-su-doc-upd-prac-loc-drop::-webkit-input-placeholder {
    color: #fa5f5f;
}

.fad-su-doc-upd-prac-loc-drop-icon {
    float: right;
    margin-right: 6px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: red;
}

.fad-su-doc-upd-prac-loc-add {
    float: right;
    color: #fa5f5f;
}

.fad-su-doc-upd-prac-loc-add-icon {
    margin-left: 20px;
    color: #ccc;
    font-size: 22px;
}

.fad-su-conf-footer {
    background: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px
}

.fad-su-footer-conf-text {
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

.fad-doc-upd-conf-no-bg {
    background-image: url('../../assets/images/comp-image.jpg');
    background-size: cover;
}

.fad-conf-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: .6;
}

.fad-doc-prof-conf-header {
    color: #666;
    text-align: center;
    letter-spacing: 1px;
    font-size: 28px;
    padding: 10px;
}

.fad-doc-prof-conf-header1 {
    color: #666;
    text-align: center;
    letter-spacing: 1px;
    font-size: 22px;
    padding: 10px;
    font-weight: 300;
}

.selectize-control.single .selectize-input:after {
    border-color: #fa5f5f transparent transparent transparent;
}

.selectize-control {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 1px;
}

.selectize-control.single .selectize-input {
    background-color: #eee;
    position: relative;
    display: table;
    border-collapse: separate;
    border-radius: 0;
    height: 34px;
    padding: 8px;
    border: 0;
}

.ui-select-search::-webkit-input-placeholder {
    /*color: #fa5f5f;*/
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    md-input-container {
        label {
            &:not(.md-no-float):not(.md-container-ignore) {
                font-size: 12px;
            }
        }
    }
    .fad-doc-su-main-text {
        font-size: 18px;
    }
    .fad-doc-su-form-btn {
        font-size: 10px;
    }
    .fad-doc-su-form-alert {
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 445px) {
    md-input-container {
        label {
            &:not(.md-no-float):not(.md-container-ignore) {
                font-size: 12px;
            }
        }
    }
    .fad-doc-su-main-text {
        font-size: 12px;
        span {
            font-size: 12px;
        }
    }
    .fad-doc-su-form-btn {
        font-size: 8px;
    }
    .fad-doc-su-form-alert {
        font-size: 10px;
    }
    .modal-content {
        min-height: calc(100vh - 30px);
        padding: 15px;
    }
    .modal {
        background-image: url('../../assets/images/Home-BG.jpg');
        background-size: cover;
    }
    .fad-add-prac-loc-modal-footer {
        text-align: center;
        h4 {
            font-size: 10px;
            &:before {
                content: "";
                position: absolute;
                width: 36%;
                height: 1px;
                bottom: 25px;
                left: 32%;
                border-bottom: 1px solid #fa5f5f;
            }
            span {
                color: #fa5f5f;
                font-weight: 600;
            }
        }
    }
    .fad-add-spec-modal-header {
        padding-bottom: 5px;
        .fad-add-spec-modal-title {
            font-size: 12px;
            h6 {
                span {
                    color: #FA5F5F;
                    font-weight: 600;
                }
            }
            svg {
                top: 2px;
            }
        }
    }
    .fad-add-spec-modal-footer {
        .fad-doctor-su-upd-search-sub {
            padding: 5px 25px;
            font-size: 8px;
            letter-spacing: 1px;
        }
        h4 {
            font-size: 6px;
            padding: 5px;
        }
    }
    .fad-modals-body-container {
        max-height: 340px;
        padding: 0 15px;
        overflow-y: scroll;
    }
    .fad-add-spec-modal-body {
        .input-group {
            padding: 0 !important;
        }
        .fad-doctor-su-upd-search {
            font-size: 10px;
            height: 26px;
        }
        .fad-doctor-su-upd-btn {
            height: 26px;
            font-size: 12px;
        }
        .fad-doc-upd-speciality-list {
            font-size: 10px;
            padding: 10px;
            width: calc(100% - 10px);
            margin-left: 5px;
            md-checkbox {
                margin-bottom: 0;
                top: -2px;
                float: right;
                .md-container {
                    width: 14px;
                    height: 14px;
                }
                .md-icon {
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 4px;
                    width: 14px;
                    height: 14px;
                }
                .md-label {
                    margin-left: 20px;
                }
                &.md-checked {
                    .md-icon {
                        background-color: rgba(250, 95, 95, 0.87);
                        border-radius: 4px;
                        width: 14px;
                        height: 14px;
                        &:after {
                            left: 3.66667px;
                            top: 0.22222px;
                            width: 5.66667px;
                            height: 11.33333px;
                        }
                    }
                    .md-ink-ripple {
                        background-color: rgba(250, 95, 95, 0.87);
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .fad-doc-prof-otp-main-text-container {
        h2 {
            font-size: 26px;
            span {}
        }
        h3 {
            font-size: 18px;
        }
        h1 {
            font-size: 24px;
        }
    }
    .fad-doc-prof-otp-no-proceed-btn {
        font-size: 12px;
        width: 50%;
    }
    .fad-doc-prof-otp-no-conf-container {
        margin: 45px auto;
        .fad-doc-prof-otp-no-conf {
            font-size: 12px;
            &::-webkit-input-placeholder {
                font-size: 12px;
            }
        }
    }
    .fad-doc-su-form-container {
        padding: 10px;
        .fad-user-su-checkbox {
            margin: 10px 0 !important;
        }
        .form-group {
            margin-bottom: 15px !important;
        }
        h5 {
            margin-bottom: 25px;
        }
    }
    .fad-doc-su-form-container {
        padding: 10px;
        .fad-user-su-checkbox {
            margin: 10px 0 !important;
        }
        .form-group {
            margin-bottom: 15px !important;
        }
        h5 {
            margin-bottom: 25px;
        }
    }
    .fad-su-logo-container {
        padding: 15px;
    }
}
