.picker-icon{
	background-color:red;
	display:inline-block;
	width:10px;
	height:10px;
}
.time-input{
	display:inline-block;
	position:relative;
}
.drop-down{
	position:absolute;
	top:20px;
}
.select-box{
	position:relative;
}