<div class="container fad-advanced-doc-profile-main-container">
	<div class="row fad-advanced-doc-profile-main-row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<a href="">
						<img style="width:220px;" src="../../../assets/images/logo-horizontal.png">
					</a>
				</div>
				<div class="col-md-4">
					<h5 class="fad-advanced-doc-profile-header-welcome-text1">Welcome back</h5>
					<h5 class="fad-advanced-doc-profile-header-welcome-text">You last signed in, yesterday 16:54 PM</h5>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-8 no-padding">
							<a class="fad-advanced-doc-profile-doc-profile-container" href="">
								<img class="fad-advanced-doc-profile-doc-profile-img img-circle" src="../../../assets/images/profile-place-holder.png">
								<h5 class="fad-advanced-doc-profile-doc-profile-text">Dr. Hassan Mohaideen MD <br><span class="fad-advanced-doc-profile-doc-profile-text-speciality">Dentist</span></h5>
							</a>
						</div>
						<!-- <div class="col-md-4 no-padding">
							<div class="row">
								<div class="col-md-6 no-padding">
								<a href="" class="fad-advanced-doc-profile-header-icons-container">
								<i class="fa fa-bell fa-2x fad-advanced-doc-profile-header-icon" aria-hidden="true"></i>
								<h5 class="fad-advanced-doc-profile-header-icon-text">NOTIFICATIONS</h5>
								</a>
								</div>
								<div class="col-md-6 no-padding">
								<a href="" class="fad-advanced-doc-profile-header-icons-container">
								<i class="fa fa-cog fa-2x fad-advanced-doc-profile-header-icon" aria-hidden="true"></i>
								<h5 class="fad-advanced-doc-profile-header-icon-text">SETTINGS</h5>
								</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 fad-advanced-doc-profile-col-margin">
			<div class="row fad-advanced-doc-profile-second-row">
				<div class="col-md-4 fad-advanced-doc-profile-hospitals">
					<ui-select ng-model="practiceLocation.state" theme="selectize">
						<ui-select-match placeholder="Scripps Memorial Hospital">{{practiceLocation.state}}</ui-select-match>
						<ui-select-choices repeat="state in stateList|filter:$select.search" position='down'>
							{{state}}
						</ui-select-choices>
					</div>
					<div class="col-md-5 fad-advanced-doc-profile-hospitals">
						<!--<div class="row">
							<div class="col-md-6">
								<h4>Start Date: <span>15 APR 2016</span></h4>
							</div>
							<div class="col-md-6">
								<h4>Time Range: <span>11:00 AM</span></h4>
							</div>
						</div> -->
					</div>
					<div class="col-md-3">
						<div class="row">
							<div class="col-md-6 text-center fad-border-right">
								<h4>15 APR 2016</h4>
							</div>
							<div class="col-md-6 text-center">
								<h4>11:25 AM</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3 no-padding">
						<!-- Sidebar -->
						<div id="sidebar-wrapper">
							<ul class="sidebar-nav fad-doctor-dashboard-sidebar-nav-list-container">
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-home"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Dashboard</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-history"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">History</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a ui-sref="dashboard-main.manage-schedule">
										<i class="fa fa-tasks"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Manage Schedule</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-bell"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Notifications</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-user"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">My Profile</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-money"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Account Billing</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-cog"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Settings</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-share-alt"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Share FAD App</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-heartbeat"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">About FAD</span>
									</a>
								</li>
								<li class="fad-doctor-dashboard-sidebar-nav-list">
									<a href="">
										<i class="fa fa-sign-out"></i>
										<span class="fad-doctor-dashboard-sidebar-nav-list-text">Log out</span>
									</a>
								</li>
							</ul>
						</div>
						<!-- /#sidebar-wrapper -->
					</div>
					<div class="col-md-9 fad-advanced-doc-profile-main-container-padding">
						<div class="row fad-doctor-dashboard-account-main-row">
							<div ui-view></div>
						</div>
				</div>
		</div>
	</div>
</div>


<!-- <div class="container">
	<div class="row">
		<div class="col-md-2">
			<uib-progressbar animate="false" value="advancedDoctorProfile.profileProgress" type="success"><b>{{advancedDoctorProfile.profileProgress}}%</b></uib-progressbar>
			<button class="btn btn-default" ng-class="advancedDoctorProfile.navBarCss.basicInfo" ng-click="advancedDoctorProfile.navigateTo()">Basic Info</button>
			<button class="btn btn-default" ng-class="advancedDoctorProfile.navBarCss.practiceInfo" ng-click="advancedDoctorProfile.navigateTo()">Practice Info</button>
			<button class="btn btn-default" ng-class="advancedDoctorProfile.navBarCss.insurances" ng-click="advancedDoctorProfile.navigateTo()">Network Insurances</button>
			<button class="btn btn-default" ng-class="advancedDoctorProfile.navBarCss.education" ng-click="advancedDoctorProfile.navigateTo()">Education Qualifications</button>
		</div>
		<div class="col-md-10">
			<div ui-view></div>
		</div>
	</div>
</div> -->