<div class="container">
    <div class="row">
        <div ng-repeat="day in days" class="col-md-2">
            <div>{{day}}</div>
            <div>
                <div>Add time</div>
                <div class="col-md-6 fad-user-prof-date-input-container">
                    <input class="fad-user-prof-date-input" value="{{dashboard.startTime}}" ng-click="dashboard.toggleCalendar()" placeholder="Start Time" />
                    <datetimepicker ng-show="dashboard.isCalendarVisible" ng-model="dashboard.startTime" on-set-time="dashboard.toggleCalendar()" datetimepicker-config="dateConfig"></datetimepicker>
                    <!-- <input type="time" placeholder="enter start time" ng-model="dashboard.startTime"> -->
                    <span>to</span>
                    <!-- <input type="time" placeholder="enter end time" ng-model="dashboard.endTime"> -->
                    <button ng-click="dashboard.test()">Add slot</button>
                </div>
                <br>
                <br>
                <div>
                    <span>Your practice hours</span>
                    <div>slot 2</div>
                </div>
                <div>
                    <span>APPLY TO:</span><span>Select Days</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
