<main style="height: 100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-user-su-container-fluid" id="login" style="height: calc(100vh - 30px);margin: 15px 0;position: relative;">
            <div class="row" style="background: #f2f2f2;">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-su-logo-container">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <img class="fad-login-header-logo" src="../../../assets/images/logo-horizontal.png">
                            </a>
                        </div>
                    </div>
                    <hr style="border-top:1px solid #d1d1d1; opacity: 0.5; margin-top: 0;">
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="row fad-doc-su-form-container">
                        <div class="col-md-12 col-ms-12 col-xs-12">
                            <h3 class="fad-pwd-reset-req-form-header col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <span class="fad-pwd-reset-req-form-header-name">LOGIN</span>
                        </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form novalidate role="form" name="loginForm">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <input tabindex="1" ng-model="loginController.userObj.username" type="text" id="username" name="username" class="fad-inputs form-control" placeholder="Email/Mobile number" required>
                                                <span class="fad-doc-su-form-alert" ng-show="!loginForm.username.$valid && loginForm.username.$touched">Please enter valid email address or mobile number</span>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <input tabindex="2" ng-model="loginController.userObj.password" type="{{loginController.pwdInputType}}" id="password" name="password" class="fad-inputs form-control" required placeholder="Password" autocomplete="off">
                                                <span style="position: absolute; right: 20px; top: 7px;" ng-click="loginController.pwdChangeIcon(loginController.pwdInputType)"> 
                                            <svg ng-if="loginController.pwdInputType==='password'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                            <style type="text/css">
                                                .st0{fill:#7D7D7D;}
                                                .st1{fill:none;}
                                                .st2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                                .st3{fill:none;stroke:#7D7D7D;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                            </style>
                                            <path class="st0" d="M100,46.4c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c23,30.6,54.2,49.4,88.6,49.4  c34.4,0,65.6-18.8,88.6-49.4c1.9-2.5,1.9-6,0-8.5C165.6,65.2,134.4,46.4,100,46.4L100,46.4z M102.5,137.8  c-22.8,1.4-41.7-17.4-40.2-40.2c1.2-18.9,16.5-34.1,35.3-35.3c22.8-1.4,41.7,17.4,40.2,40.2C136.6,121.3,121.3,136.6,102.5,137.8  L102.5,137.8z M101.3,120.3C89,121.1,78.9,111,79.7,98.7c0.6-10.2,8.9-18.4,19-19c12.3-0.8,22.5,9.4,21.7,21.7  C119.7,111.5,111.5,119.7,101.3,120.3L101.3,120.3z M101.3,120.3"/>
                                        </svg>
                                        <svg ng-if="loginController.pwdInputType==='text'" style="width:20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                                        <style type="text/css">
                                            .st0{fill:#fa5f5f;}
                                            .st1{fill:none;}
                                            .st2{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
                                            .st3{fill:none;stroke:#fa5f5f;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
                                        </style>
                                        <g>
                                            <path class="st1" d="M79.7,98.7c0.6-10.2,8.9-18.4,19-19c4.4-0.3,8.5,0.9,12,3l11.1-13.5c-6.8-4.8-15.2-7.5-24.3-6.9   c-18.9,1.2-34.1,16.5-35.3,35.3c-0.7,11.7,3.9,22.4,11.6,29.8L85,113.8C81.4,109.8,79.3,104.5,79.7,98.7z"/>
                                            <path class="st1" d="M120.4,101.3c-0.7,10.2-8.9,18.4-19,19c-3.5,0.2-6.9-0.5-9.9-1.8l-11.3,13.7c6.4,4,14.1,6.1,22.3,5.6   c18.8-1.2,34.1-16.5,35.3-35.3c0.7-10.8-3.2-20.8-9.9-28.1l-11.3,13.7C119.2,91.7,120.7,96.3,120.4,101.3z"/>
                                            <path class="st0" d="M188.6,95.8c-13-17.3-28.6-30.8-45.9-39.3l-14.8,17.9c6.7,7.3,10.6,17.2,9.9,28.1   c-1.2,18.8-16.5,34.1-35.3,35.3c-8.2,0.5-15.9-1.6-22.3-5.6l-12.8,15.6c10.4,3.8,21.4,5.9,32.7,5.9c34.4,0,65.6-18.8,88.6-49.4   C190.5,101.8,190.5,98.3,188.6,95.8z"/>
                                            <path class="st0" d="M101.3,120.3c10.1-0.6,18.4-8.8,19-19c0.3-5-1.1-9.5-3.8-13.2l-25.1,30.4C94.4,119.9,97.8,120.5,101.3,120.3z"/>
                                            <path class="st0" d="M98.7,79.6c-10.2,0.7-18.4,8.9-19,19c-0.4,5.8,1.7,11.2,5.3,15.1l25.7-31.2C107.2,80.5,103.1,79.4,98.7,79.6z"/>
                                            <path class="st0" d="M62.2,97.5c1.2-18.9,16.5-34.1,35.3-35.3c9.1-0.6,17.5,2.1,24.3,6.9l13.2-16c-11.1-4.4-22.9-6.8-35.1-6.8   c-34.4,0-65.6,18.8-88.6,49.4c-1.9,2.5-1.9,6,0,8.5c13.6,18,29.9,31.9,48.1,40.4l14.3-17.3C66.1,119.9,61.5,109.3,62.2,97.5z"/>
                                        </g>
                                        <line class="st3" x1="159.9" y1="29.3" x2="43.6" y2="170.2"/>
                                        </svg>
                                        </span>
                                                <span class="fad-doc-su-form-alert" ng-if="!loginForm.password.$valid && loginForm.password.$touched">Please enter password</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div tabindex="3" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 form-group" style="margin-top: 20px;">
                                        <button class="btn btn-raised fad-doc-su-form-btn" type="submit" value="SUBMIT" ng-click="loginController.login()" ng-disabled="!loginForm.$valid">LOGIN</button>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 fad-doc-login-signup-text">
                                        <h4>New to <span class="fad-color-code" style="font-weight: 600;">FINDaDOCTOR</span> ? <a tabindex="4" ng-keypress="loginController.navigateToSignup()" ng-click="loginController.navigateToSignup()" title="">SIGNUP</a>.</h4>
                                        <h4>Don't remember password ? <a tabindex="4" ui-sref="pwd-reset-request">Reset Password</a>.</h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-user-su-footer">
                    <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- <div class="col-md-12 col-sm-12 col-xs-12 fad-footer-copyright">
    <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
</div> -->
