<main style="height: 100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-user-su-container-fluid" id="reset" style="height: calc(100vh - 30px);margin: 15px 0;position: relative;">
            <div class="row" style="background: #f2f2f2;">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-su-logo-container">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <img class="fad-login-header-logo" src="../../../assets/images/logo-horizontal.png">
                            </a>
                        </div>
                    </div>
                    <hr style="border-top:1px solid #d1d1d1; opacity: 0.5; margin-top: 0;">
                </div>
                <div class="col-md-12">
                    <div class="row" style="margin-bottom: 30px;">
                        <h3 class="text-center" style="color:#fa5f5f;">Reset your password</h3>
                        <h3 class="fad-doc-su-main-text text-center">We will send a confirmation code to your registered mobile number.</h3>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                    <div class="row fad-doc-su-form-container">
                        <div class="col-md-12 col-ms-12 col-xs-12">
                            <h3 class="fad-pwd-reset-req-form-header col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                            <span class="fad-pwd-reset-req-form-header-name">RESET</span>
                        </h3>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form novalidate role="form" name="pwdResetRequest">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                                                <input tabindex="1" ng-model="pwdResetController.userName" id="user-name" type="text" name="userName" class="fad-inputs form-control" placeholder="Email/Mobile number" required autofocus>
                                                <span class="fad-doc-su-form-alert" ng-if="!!pwdResetControllers.errorOnOtpSending">{{pwdResetController.errorOnOtpSending}}</span>
                                                <span class="fad-doc-su-form-alert" ng-show="pwdResetRequest.userName.$submitted&&!pwdResetRequest.userName.$valid">Please Enter Valid username</span>
                                               <!--  <span class="fad-doc-su-form-alert" ng-show="pwdResetRequest.userName.$error.pattern">Please enter valid email address<br></span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div tabindex="3" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 form-group" style="margin-top: 20px;">
                                        <button class="btn btn-raised fad-doc-su-form-btn" type="submit" value="SUBMIT" ng-click="pwdResetController.generateOTP()" ng-disabled="!pwdResetRequest.$valid">RESET</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-user-su-footer">
                    <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</main>
