<main style="height: 100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-user-su-container-fluid" style="height: calc(100vh - 30px);margin: 15px 0;position: relative;">
            <div class="row" style="background: #f2f2f2;">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-su-logo-container">
                    <div class="row" style="padding: 10px 0;">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="#">
                                <img class="fad-login-header-logo" src="../../../assets/images/logo-horizontal.png">
                            </a>
                        </div>
                    </div>
                    <hr style="border-top:1px solid #d1d1d1; opacity: 0.5; margin-top: 0;">
                </div>
                <div class="col-md-12">
                    <div class="row text-center fad-doc-prof-otp-main-text-container">
                        <!-- <h2>Thank you for listing your practice in <span>FINDaDOCTOR</span></h4> -->
                        <h3>A confirmation code is sent to your registered mobile number</h3>
                        <h1>{{doctorSignup.DoctorProfileFactory.user.mobile | phone}}</h1>
                    </div>
                </div>
                <div class="col-md-12 fad-doc-prof-otp-no-conf-container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center">
                            <input class="fad-doc-prof-otp-no-conf form-control" placeholder="Enter confirmation code" ng-model="pwdResetController.otp" maxLength="6" minLength="6" required>
                            <span class="verification-otp-alert-msg" ng-if="!!pwdResetController.otpErrorNotification">{{pwdResetController.otpErrorNotification}}</span>
                        </div>
                        <div class="col-md-4 col-md-offset-4 col-xs-12 text-center" style="padding: 15px;">
                            <button class="btn btn-link fad-doc-prof-otp-no-conf-btn" ng-click="pwdResetController.otp=pwdResetController.resendCode()">Resend the code</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4 text-center">
                    <button class="btn btn-raised fad-doc-prof-otp-no-proceed-btn" style="width: 100%; height: auto;" type="button" type="button" ng-click="pwdResetController.validateOTP()" ng-disabled="!pwdResetController.otp">PROCEED</button>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-user-su-footer">
                    <h4 class="fad-user-su-footer-text">&copy;2016 <span>Millennium Technology Solutions Inc.</span> All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</main>
