.fad-contents-faq-cover-container {
    background-image: url("../../assets/images/FAQ.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-top: 15px !important;
}

.fad-contents-faq-support-btn-container {
    margin-top: 5%;
    .fad-contents-faq-support-btn {
        text-align: center;
        background-color: #fa5f5f;
        cursor: pointer;
        border: 0;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border-radius: 0;
        padding: 10px 20px;
        display: inline;
        letter-spacing: 2px;
        text-transform: uppercase;
        -webkit-transition: all 0.35s linear !important;
        transition: all 0.35s linear !important;
        &:hover {
            color: #fff !important;
            font-weight: 600;
            border: 0;
            background: #CD5C5C !important;
            outline: 0 !important;
        }
        &:focus {
            outline: 0 !important;
            background: #CD5C5C !important;
            color: #fff !important;
        }
    }
}

.fad-content-cover-overlay-container {
    padding: 30px 0px;
    .overlay {
        position: absolute;
        height: 110%;
        width: 100%;
        background: #ccc;
        opacity: 0.3;
        height: 360px;
    }
}

.fad-about-us-second-line {
    text-align: center;
    color: #fa5f5f;
    font-weight: 600;
}

.fad-content-main-message-first-line {
    color: white;
    padding-top: 4%;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 0%;
}

.fad-content-faq-accordion {
    .panel-group {
        margin-bottom: 0;
        .panel-default {
            border-color: #fa5f5f;
            .panel-heading {
                color: #fa5f5f;
                border-color: #fa5f5f;
                padding: 15px;
                background-color: #fff;
                & + .panel-collapse {
                    & > .panel-body {
                        color: #666;
                    }
                }
            }
        }
        .panel {
            border: none;
            border-radius: 0;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            & + .panel {
                margin-top: 10px;
            }
        }
        .panel-title {
            font-size: 18px;
            a {
                &:focus,
                &:hover {
                    text-decoration: none;
                    color: #fa5f5f;
                    outline: 0 !important;
                }
            }
        }
    }
}

.fad-contents-faq-contact-us-cover-container {
    background-image: url("../../assets/images/mailbox.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    padding: 0;
    height: 230px;
    width: 100%;
    margin-top: 15px !important;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.4;
    }
    .faq-contact-us-container {
        display: table;
        height: 100%;
        .row {
            display: table-cell;
            vertical-align: middle;
            .fad-contents-faq-inquiry-text-container {
                color: #fff;
                margin-top: 3%;
                padding: 50px;
                h5 {
                    font-size: 24px;
                }
            }
            .fad-contents-faq-inquiry-form-container {
                padding: 0px;
                background: rgba(255, 255, 255, 0.2);
                div {
                    padding: 15px;
                    .form-box-container {
                        border: 1px solid #fff;
                        padding: 15px;
                        .form-box-input {
                            border-radius: 0;
                            margin-bottom: 5px;
                            border: 0;
                        }
                        .form-box-textarea {
                            border-radius: 0;
                            margin-bottom: 5px;
                            border: 0;
                            height: 150px;
                            resize: none;
                        }
                        .form-box-button {
                            border-radius: 0;
                            width: 25%;
                            background: #fa5f5f;
                            color: #fff;
                            border: 0;
                            transition: all 0.3s linear;
                            &:hover {
                                color: #fff;
                                border: 0;
                                background: #CD5C5C;
                                outline: 0 !important;
                            }
                            &:focus {
                                outline: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.fad-contents-faq-inquiry-input-container {
    margin-top: 2%;
    margin-bottom: 2%;
    .fad-contents-faq-inquiry-input-group {
        width: 100%;
        .fad-contents-faq-inquiry-form-control {
            border-radius: 0;
            color: #787878;
            padding: 21px 12px;
            border: 0;
            background: #eee;
        }
        .fad-contents-faq-inquiry-input-group-btn {
            padding-left: 10px;
            .fad-contents-faq-inquiry-btn {
                border-radius: 0;
                border: 1px solid transparent;
                color: #fff;
                padding: 6px 25px;
                background-color: #fa5f5f;
                height: 42px;
                font-size: 18px;
                letter-spacing: 1px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    border: 1px solid transparent;
                    color: #fa5f5f;
                    background-color: #fff;
                }
                &:focus {
                    outline: 0 !important;
                }
            }
        }
    }
}

.fad-contents-accordion-main-container {
    width: 100%;
    background: #eee;
    padding: 10px 20px !important;
}

//CONTACT US PAGE
.fad-contents-contact-us-cover-container {
    background-image: url("../../assets/images/contact-Us.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-top: 15px !important;
}

.fad-content-contact-us-form-container {
    padding: 15% 7%;
}

.fad-contact-us-first-line {
    color: white;
    padding-top: 12%;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.fad-content-contact-us-form-fieldset {
    border: 1px solid #ccc;
    min-height: 11em;
    padding: 20px;
    .fad-content-contact-us-form-legend {
        padding: 8px;
        border: 1px solid #ccc;
        color: #fa5f5f;
        background: transparent;
        font-size: 20px;
        text-align: center;
        width: 25%;
        font-weight: 400;
    }
}

.fad-contact-us-info-btn-container svg {
    width: 30px;
    margin-right: 25px;
    position: relative;
    top: 2px;
}

.fad-contact-us-info-btn-container {
    font-size: 18px;
    color: #fff;
    padding: 15px 30px;
    background: #fa5f5f;
    transition: all 0.7s linear;
    letter-spacing: 2px;
}

.fad-contact-us-info-btn-container:hover {
    color: #fa5f5f;
    background: #fff;
    text-decoration: none;
}

.fad-contact-us-info-btn-container:hover .cls-1 {
    fill: #fa5f5f !important;
}

.fad-contact-us-info-btn-container:hover .cls-2 {
    fill: #fa5f5f !important;
}

.fad-content-contact-us-form-control {
    border: 1px solid #ccc;
    height: 31px;
    background: transparent;
    box-shadow: none;
    transition: border 0.6s ease-in-out;
    color: #fff !important;
    &:focus {
        border: 1px solid #fa5f5f !important;
        box-shadow: none !important;
        &::-webkit-input-placeholder {
            opacity: 0.3;
        }
    }
    &::-webkit-input-placeholder {
        font-size: 12px;
        color: #fff;
        opacity: 0.3;

    }
}

.fad-content-contact-us-form-textarea {
    min-height: 71px;
    border: 1px solid #ccc;
    resize: none;
    background: transparent;
    box-shadow: none;
    transition: border 0.6s ease;
    color: #fff !important;
    &:focus {
        border: 1px solid #fa5f5f !important;;
        box-shadow: none !important;
        &::-webkit-input-placeholder {
            opacity: 0.3;
        }
    }
    &::-webkit-input-placeholder {
        font-size: 12px;
        color: #fff;
        opacity: 0.3;
    }
}

.fad-content-contact-us-form-btn {
    width: 100%;
    height: 31px;
    background: #fa5f5f !important;
    border: 1px solid transparent;
    font-size: 12px;
    color: #fff !important;
    transition: all 0.6s ease-in-out;
    &:hover {
        background: #CD5C5C !important;
        color: #fff !important;
    }
    &:focus {
        outline: 0 !important;
    }
}

.fad-contents-logo-container {
    margin: 0 auto;
}

div.fad-contents-logo-container {
    display: table;
    white-space: nowrap;
    font-size: 14px;
}

.fad-contents-logo-img-container {
    // padding: 25%;
}

.fad-contents-logo {
    width: 140px;
}

//ABOUT US PAGE
.fad-contents-about-us-cover-container {
    background-image: url("../../assets/images/AboutUs.jpg");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: visible;
    padding: 0;
    margin-top: 15px !important;
}

.fad-content-about-us-intro-container {
    padding: 15px 30px;
}

.fad-content-about-us-intro-text-container {
    background: #fff;
    padding: 25px;
}

.fad-content-about-us-intro-text-header {
    font-size: 22px;
    border-left: 2px solid #fa5f5f;
    padding: 14px;
    color: #666;
}

.fad-content-about-us-intro-text-paragraph {
    font-size: 18px;
    text-align: justify;
    color: #999;
    line-height: 1.8em;
    span {
        font-weight: 700;
    }
}

.fad-content-about-us-intro-2-text-header {
    font-size: 22px;
    border-right: 2px solid #fa5f5f;
    padding: 14px;
    color: #666;
    text-align: right;
}

.fad-content-about-us-intro-2-text-paragraph {
    font-size: 18px;
    text-align: justify;
    color: #999;
    line-height: 1.8em;
    span {
        font-weight: 700;
    }
}

.fad-content-about-us-intro-2-text-paragraph h4 {
    text-align: center;
    color: #fa5f5f;
}

.fad-privacy-policy-text-container {
    padding: 20px;
}

.fad-privacy-policy-text {
    margin-top: 20px;
}

.fad-privacy-policy-list {
    color: #fa5f5f;
    margin-bottom: 45px;
}

.fad-privacy-policy-header {
    color: #fa5f5f;
    letter-spacing: 1px;
    text-align: center;
}

.fad-privacy-policy-paragraph {
    color: #808080;
    text-align: justify;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 15px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 445px) {
    .fad-content-main-message-first-line {
        padding-top: 10%;
        font-size: 20px;
        font-weight: 700;
    }
    .fad-privacy-policy-header {
        font-size: 18px;
    }
    .fad-privacy-policy-paragraph {
        text-align: initial;
    }
    .fad-content-cover-overlay-container {
        padding: 100px 0px;
        .overlay {
            height: 280px;
        }
    }
    .fad-about-us-second-line {
        font-size: 16px;
    }
    .fad-contents-faq-support-btn-container {
        .fad-contents-faq-support-btn {
            font-size: 10px;
        }
    }
    .fad-content-faq-accordion {
        .panel-group {
            margin-bottom: 0;
            .panel-default {
                .panel-heading {
                    & + .panel-collapse {
                        & > .panel-body {
                            font-size: 10px;
                        }
                    }
                }
            }
            .panel-title {
                font-size: 10px;
            }
        }
    }
    .fad-content-about-us-intro-container {
        padding: 15px 30px;
        .fad-content-about-us-intro-text-container {
            background: #fff;
            padding: 15px;
            .fad-content-about-us-intro-text-header {
                font-size: 18px;
                margin-top: 0;
            }
            .fad-content-about-us-intro-text-paragraph {
                padding: 5%;
                font-size: 12px;
            }
        }
        .fad-content-about-us-intro-2-text-header {
            font-size: 18px;
            margin-top: 0;
        }
        .fad-content-about-us-intro-2-text-paragraph {
            padding: 5%;
            font-size: 12px;
            h4 {
                font-size: 14px;
            }
        }
    }
    .fad-content-contact-us-form-fieldset {
        padding: 0px;
        .fad-content-contact-us-form-legend {
            font-size: 18px;
            width: 50%;
        }
    }
    .fad-content-contact-us-form-control {
        height: 31px;
        color: #333;
        font-size: 12px;
        &::-webkit-input-placeholder {
            font-size: 12px;
            color: #ccc;
            opacity: 0.8;
        }
        &:focus {
            border: 1px solid #fa5f5f;
        }
    }
    .fad-content-contact-us-form-textarea {
        font-size: 12px;
        color: #333;
        &::-webkit-input-placeholder {
            font-size: 12px;
            color: #ccc;
            opacity: 0.8;
        }
        &:focus {
            border-color: 1px solid #fa5f5f;
        }
    }
    .fad-content-contact-us-form-btn {
        height: 31px;
        font-size: 16px;
        padding: 4px;
    }
    .fad-contents-faq-contact-us-cover-container {
        .faq-contact-us-container {
            .row {
                .fad-contents-faq-inquiry-text-container {
                    padding: 0;
                    margin-bottom: 20px;
                    text-align: center;
                    margin-left: 8.3333%;
                    h5 {
                        font-size: 16px;
                        line-height: 1.5em;
                    }
                }
                .fad-contents-faq-inquiry-form-container {
                    padding: 0px;
                    background: rgba(255, 255, 255, 0.2);
                    margin-left: 8.3333%;
                    div {
                        padding: 15px;
                        .form-box-container {
                            border: 1px solid #fff;
                            padding: 15px;
                            .form-box-input {
                                height: 26px;
                                font-size: 10px;
                                &::-webkit-input-placeholder {
                                    font-size: 10px;
                                }
                            }
                            .form-box-textarea {
                                height: 100px;
                                font-size: 10px;
                                &::-webkit-input-placeholder {
                                    font-size: 10px;
                                }
                            }
                            .form-box-button {
                                font-size: 10px;
                                height: 26px;
                                &:hover {
                                    color: #fff;
                                    border: 0;
                                    background: #CD5C5C;
                                    outline: 0 !important;
                                }
                                &:focus {
                                    outline: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
