<main style="height:100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-doctor-details-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-doctor-details-header-container">
                    <div class="fad-doctor-details-header-logo-container centered">
                        <a href="#" class="fad-search-footer-logo-img-container">
                            <img src="../assets/images/white-logo.png" class="fad-search-footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 fad-privacy-policy-text-container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12 fad-privacy-policy-text">
                            <ul class="list-unstyled">
                                <li style="list-style: none; margin-bottom:45px;">
                                    <h3 class="fad-privacy-policy-header" style="font-weight:700; margin-bottom: 30px;">TERMS OF USE</h3>
                                    <p class="fad-privacy-policy-paragraph">Terms of Use for Practitioners, Practices and Healthcare Providers for the use of FINDaDOCTOR and the other Services provided by Millennium Technology Solutions Private Limited.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Physician/Provider User Agreement</h4>
                                    <p class="fad-privacy-policy-paragraph">FINDaDOCTOR has compiled and published healthcare providers and physicians data based on comprehensive review of available information of doctors which includes specialties, board certifications, practice locations, educational credentials, insurances accepted, training and qualifications. FINDaDOCTOR collects data and practice information of physicians and other providers from numerous government and commercial sources. The practice information related to physicians and providers will be made available to patients and other healthcare consumers. The site is for informational purposes only and does not constitute a recommendation of any provider/physician or service or endorsement or the qualifications of the provider, nor is it an authentication of the resume of the provider.</p>
                                    <p class="fad-privacy-policy-paragraph">By clicking on &#39;I Accept&#39; tab at the time of registration, you agree that FINDaDOCTOR may provide your profile information and practice details to all healthcare consumers.</p>
                                    <p class="fad-privacy-policy-paragraph" style="font-weight: 700;">
                                        PLEASE BE INFORMED THAT WE RESERVE THE RIGHT TO REVISE AND CHANGE THIS TERMS OF USE FROM TIME TO TIME. WE REQUEST YOU TO READ THIS AGREEMENT COMPLETELY BEFORE YOU SIGNUP AND SUBMIT YOUR PROFILE AND PRACTICE INFORMATION. BY CLICKING ON “I AGREE” OR BY USING FINDaDOCTOR SERVICES OR PROVIDING YOUR PRACTICE DETAILS BY YOU, OR YOUR AUTHORIZED REPRESENTATIVE OR ENTITY, CONFIRM AND ACKNOWLEDGE THAT -
                                        <br> 1. YOU READ THIS AGREEMENT THOROUGHLY AND UNDERSTAND ALL THE TERMS AND CONDITIONS MENTIONED IN THIS “TERMS OF USE”.
                                        <br> 2. YOU OR YOUR AUTHORIZED REPRESENTATIVE OR ENTITY READ AND AGREE TO BE SUBJECT TO THE TERMS AND CONDITIONS. THIS AGREEMENT IS EQUIVALENT TO WRITTEN CONTRACT BETWEEN FINDaDOCTOR AND YOU OR YOUR PRACTICE OR ENTITY.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph" style="font-weight: 700;">
                                        IF YOU OR YOUR PRACTICE OR ENTITY IS NOT WILLING TO BE SUBJECT TO THE TERMS AND CONDITIONS OF THIS “TERMS OF USE” PLEASE DO NOT TICK “I AGREE” BUTTON DURING REGISTRATION PROCESS, DO NOT CREATE AN ACCOUNT OR PROVIDE ANY OF YOUR PERSONAL AND PRACTICE INFORMATION. FINDaDOCTOR DOES NOT ALLOW AND GRANT ANY RIGHT OR PERMISSION TO USE FINDaDOCTOR SERVICES TO ANY USER WHO DO NOT AGREE TO THE TERMS AND CONDITIONS.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph" style="font-weight: 700;">
                                        AS PER FEDERAL LAWS ONLY YOU OR YOUR AUTHORIZED REPRESENTATIVE OR ENTITY ARE ELIGIBLE TO CREATE AND MANAGE ACCOUNT IN FINDaDOCTOR. MISREPRESENTATION OF ANY INDIVIDUAL AS A PHYSICIAN/PROVIDER VIOLATES US FEDERAL LAWS AND SUCH INDIVIDUAL OR ENTITY WILL BE PROSECUTED TO THE FULL EXTENT OF THE LAW.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">
                                        FINDaDOCTOR has strong data security procedures that monitors information exchanges real-time and indicates any abnormalities. Our secure storage and strong data encryption methods keeps your data secure.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">
                                        FINDaDOCTOR does not provide medical advice and does not guarantee any result or outcome of any provider listed at its site. The information contained is intended to serve as a reference tool of the medical providers made available to the healthcare consumers.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">
                                        We do not recommend or endorse any individual physician/provider or their practice to any healthcare consumer. FINDaDOCTOR acts as mediator between healthcare consumers and physician/provider, collects providers and practice information from various data sources and presents it to customers to choose from list of nearby doctors.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">
                                        FINDaDOCTOR follows well-defined processes and algorithm to give weightage or generate rating to healthcare providers based on specialty, insurances accepted, distance of physician practice location from customer location, board certifications, educational credentials and profile completeness in our site. The physician information and ratings are solely statements of opinion and not recommendations to use the services of any specific practitioner/physician or any related healthcare entity.
                                    </p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Registration and managing an account with FINDaDOCTOR</h4>
                                    <p class="fad-privacy-policy-paragraph">If you are willing to register and manage an account with FINDaDOCTOR, you need to create a password and provide required security information to FINDaDOCTOR portal. By registering, you agree, warrant and represent that -
                                        <br> A. As mentioned in the profile you are a physician/provider who has NPI number and licensed to practice in US or authorized to represent the physician/provider whose information is provided in profile and you or your authorized representative must be 18 years of age or older to register and manage an account with FINDaDOCTOR.
                                        <br>B. You are providing most accurate, true, complete and current information about your profile and practice.
                                        <br>C. You will update the profile and practice information which is true, comprehensive and current. You or your authorized representative may update your profile information anytime by logging in to FINDaDOCTOR account.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">By logging in to FINDaDOCTOR account, you agree, warrant and represent that you are authorized to use the password and responsible for any changes made in profile or practice information. You are solely responsible for password usage and confidentiality to the security information. You can change your account password or any security information anytime by logging into your account. If you feel that your account is accessed by anonymous user other than you or your authorized representative, please let us know immediately for any unauthorized access, loss or theft of your account details.</p>
                                    <p class="fad-privacy-policy-paragraph">
                                        FINDaDOCTOR reserves the right to change any password or security information related to account at any point of time for any reason.
                                    </p>
                                    <p class="fad-privacy-policy-paragraph">
                                        This Terms of Use agreement will be effective from the instant you click on “I AGREE” and register with FINDaDOCTOR. FINDaDOCTOR reserves the right to deny your access to portal or delete or discontinue the product and its services or terminate this agreement at any time for any reason without notifying you. Once we terminate this agreement you will no longer have access to FINDaDOCTOR product and its services.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fad-content-footer-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="fad-search-footer-logo-container centered">
                        <a href="#" class="fad-search-footer-logo-img-container">
                            <img src="../assets/images/final-log.png" class="fad-search-footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-footer-main-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-link-container centered">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Menu</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="about-us">About FINDaDOCTOR</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="privacy">Privacy Policy</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="terms-of-use">Terms of Use</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="faq">FAQs</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="contact-us">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Specialties</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'General Physician'})">General Physician</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dentist'})">Dentist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ear, Nose & Throat Doctor'})">Ear, Nose & Throat Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ophthalmologist (Eye Doctor)'})">Eye Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Obstetrician & Gynecologist'})">Gynecologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Cardiologist (Heart Doctor)'})">Cardiologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dermatologist'})">Dermatologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Psychiatrist'})">Psychiatrist</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Insurance</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Aetna'})">Aetna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Blue Cross Blue Shield'})">Blue Cross Blue Shield</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Cigna'})">Cigna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Group Health Incorporated'})">GHI</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'HIP Health Plan'})">HIP</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'UnitedHealthCare'})">UnitedHealthcare</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Cities</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:34.052235,
                                                lon:-118.243683
                                            }})">Los Angeles</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:32.715736,
                                                lon:-117.161087
                                            }})">San Diego</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:37.733795,
                                                lon:-122.446747
                                            }})">San Francisco</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.7127837,
                                                lon:-74.00594130000002
                                            }})">New York</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:41.881832,
                                                lon:-87.623177
                                            }})">Chicago</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:44.919285,
                                                lon:-123.317047
                                            }})">Dallas</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:29.761993,
                                                lon:-95.366302
                                            }})">Houston</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.489578,
                                                lon:-81.445526
                                            }})">Philadelphia</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 footer" style="position: absolute; bottom:30px;">
                    <h5 class="fad-search-footer-socail-header"><span>Get in touch</span></h5>
                    <ul class="list-unstyled list-inline" style="text-align:center; margin-left: 0;">
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.facebook.com/findadoctorcom-220377064670960/?fref=ts" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.83 37.83">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>FB</title>
                                    <path class="cls-1" d="M37.83,0H0V37.83H18.92V23.54H14.29V17.23h4.62V14.78c0-4.24,3.18-8.05,7.09-8.05h5.1V13H26a1.54,1.54,0,0,0-1.21,1.69V17.2H31.1v6.31H24.8V37.83h13V0Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.linkedin.com/company/findadoctor" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.07 38.07">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>linkedin</title>
                                    <path class="cls-1" d="M0,0V38.07H38.07V0ZM11.47,31.67H5.75V14.59h5.72ZM8.61,12.25h0a3,3,0,1,1,.07-5.9,3,3,0,1,1-.07,5.9ZM32.07,31.67H26.36V22.53c0-2.3-.83-3.86-2.89-3.86a3.12,3.12,0,0,0-2.93,2.08,3.84,3.84,0,0,0-.19,1.38v9.54H14.63s.08-15.48,0-17.08h5.71V17a5.68,5.68,0,0,1,5.15-2.82c3.76,0,6.58,2.44,6.58,7.69v9.79Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://twitter.com/FINDaDOCTOR1" target="block">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>twitter</title>
                                    <path class="cls-1" d="M0,0V38H38V0ZM29.42,13.62v.7A15.33,15.33,0,0,1,5.84,27.23a10.89,10.89,0,0,0,8-2.23,5.4,5.4,0,0,1-5-3.74,5.39,5.39,0,0,0,2.43-.09A5.39,5.39,0,0,1,7,15.88v-.07a5.37,5.37,0,0,0,2.44.67,5.4,5.4,0,0,1-1.67-7.2,15.3,15.3,0,0,0,11.11,5.63A5.39,5.39,0,0,1,28,10a10.8,10.8,0,0,0,3.42-1.31,5.41,5.41,0,0,1-2.37,3,10.78,10.78,0,0,0,3.1-.85,10.94,10.94,0,0,1-2.69,2.79h0Z" transform="translate(0 0)" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-copy-container centered no-padding">
                <p class="fad-search-footer-copy">Our privacy policy and terms of use <span>&copy; 2016 Millennium Technology Solutions, Inc</span>.</p>
            </div>
        </div>
    </div>
</main>
