<main style="height:100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container fad-contents-faq-cover-container fad-container" ng-class="search.slide">
            <div class="fad-search-cover-overlay"></div>
            <div class="row fad-search-row">
                <div style="padding-top:10px;" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-4 col-xs-offset-4">
                            <a href="#">
                                <img class="img-responsive fad-search-results-logo-size" src="../assets/images/final-log.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 fad-content-cover-overlay-container">
                    <div class="overlay"></div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p class="text-center fad-content-main-message-first-line search-home-text-transition">FREQUENTLY ASKED QUESTIONS</p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p class="text-center fad-search-main-message-second-line">we have put together a list of some questions to help you understand FINDaDOCTOR better.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center fad-contents-faq-support-btn-container">
                        <button href="#" class="btn fad-contents-faq-support-btn" role="button" ng-click="content.goTo('faq-write')">Request Support
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-search-know-share-container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4 text-center">
                            <a class="btn btn-link fad-search-know-more-btn" ng-click="content.goTo('faq')">Know more
                                <br><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.69 14.68"><defs><style>.cls-1{fill:#fff;fill-rule:evenodd;}</style></defs><title>drop down</title><path class="cls-1" d="M13.29,11.29,3.6,1.55A1.84,1.84,0,0,0,1,1.55,1.87,1.87,0,0,0,1,4.18l10.9,11a1.83,1.83,0,0,0,1.4.54,1.83,1.83,0,0,0,1.4-.54l10.9-11a1.87,1.87,0,0,0,0-2.63,1.84,1.84,0,0,0-2.62,0Z" transform="translate(-0.44 -1)"/></path></svg></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid fad-contents-accordion-main-container fad-container" id="faq">
            <uib-accordion close-others="oneAtATime" class="fad-content-faq-accordion">
                <!-- <uib-accordion-group class="panel-default" is-open="accordion1.open">
                    <uib-accordion-heading>
                        How do I search board certified doctors? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion1.open, 'glyphicon-chevron-right': !accordion1.open}"></i>
                    </uib-accordion-heading>
                    Click on “Board Certified” option in “Refine your search” section to see the list of board certified doctors practicing in your preferred location.
                </uib-accordion-group> -->
                <uib-accordion-group class="panel-default" is-open="accordion2.open">
                    <uib-accordion-heading>
                        How do I register with FINDaDOCTOR? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion2.open, 'glyphicon-chevron-right': !accordion2.open}"></i>
                    </uib-accordion-heading>
                    1. Go to https://www.findadoctor.com
                    <br>2. Click on “Doctors Participate with us” button to go to provider’s page.
                    <br>3. Click on “Join Us” to visit Providers SIGN UP page.
                    <br>4. Enter the required information in the respective fields.
                    <br>5. Create a password.
                    <br>5. Read and Agree to the Privacy Policy and Terms of Use.
                    <br>6. Click on the LIST YOUR PRACTICE button to verify your mobile number to register with us.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion3.open">
                    <uib-accordion-heading>
                        How does listing my practice in FINDaDOCTOR add value to me? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion3.open, 'glyphicon-chevron-right': !accordion3.open}"></i>
                    </uib-accordion-heading>
                    Currently, FINDaDOCTOR offers online doctor search features to healthcare consumers. Soon Team FINDaDOCTOR is coming up with more features which enable doctors to “Plan Your Availability” with date and time slot availability - Where Patients can search for nearby in-network insurance doctors and book online health appointments, “Preemptive Insurance Verification” - Insurance verified even before the patient visit the doctor for consultation and “PMS Integration” - Real-time sync for better scheduling.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion4.open">
                    <uib-accordion-heading>
                        What security standards do you have in place to protect my information? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion4.open, 'glyphicon-chevron-right': !accordion4.open}"></i>
                    </uib-accordion-heading>
                    FINDaDOCTOR has strong data security procedures that monitors information exchanges real-time and indicates any abnormalities. Our secure storage and strong data encryption methods keeps your data secure. As per federal laws only providers and their authorized representatives are eligible to create and manage account in FINDaDOCTOR.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion5.open">
                    <uib-accordion-heading>
                        What is PROMOCODE-90? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion5.open, 'glyphicon-chevron-right': !accordion5.open}"></i>
                    </uib-accordion-heading>
                    As a listed doctor, you will be automatically upgraded with 90 days of free subscription - PROMOCODE-90, once the “Plan Your Availability features” are enabled.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion7.open">
                    <uib-accordion-heading>
                        How did you find my practice information? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion7.open, 'glyphicon-chevron-right': !accordion7.open}"></i>
                    </uib-accordion-heading>
                    FINDaDOCTOR collects provider and practice information from various commercial and government sources such as NPI data. We have our standard data management practices to ensure that the information is presented in best way. We will ask providers/physicians to provide comprehensive details about their practice during signup/registration process.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion8.open">
                    <uib-accordion-heading>
                        How often do you update my profile information in FINDaDOCTOR? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion8.open, 'glyphicon-chevron-right': !accordion8.open}"></i>
                    </uib-accordion-heading>
                    FINDaDOCTOR updates data within one to three months based on the data updates from government and commercial sources. The information provided by you will be considered as accurate and latest. You can update your profile with recent additions by logging into your account.
                </uib-accordion-group>
                <uib-accordion-group class="panel-default" is-open="accordion9.open">
                    <uib-accordion-heading>
                        What is profile percentage? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordion9.open, 'glyphicon-chevron-right': !accordion9.open}"></i>
                    </uib-accordion-heading>
                    Profile percentage indicates the comprehensiveness of information provided in FINDaDOCTOR account. Information related to your education, board certifications, specialties, practice locations and insurances accepted, carries weightage in calculating profile percentage. It is always good to provide more details about your practice and increase profile percentage as our algorithm considers complete profiles to display top in the search results.
                </uib-accordion-group>
            </uib-accordion>
        </div>
        <div class="container fad-contents-faq-contact-us-cover-container fad-container" id="faq-write">
            <div class="overlay"></div>
            <div class="row" style="height: 100%;">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 faq-contact-us-container">
                    <div class="row">
                        <div class="col-md-6 col-xs-10 fad-contents-faq-inquiry-text-container">
                            <h5>Can't find what you are looking for? <span class="fad-color-code">Email us</span></h5>
                        </div>
                        <div class="col-md-6 col-xs-10 fad-contents-faq-inquiry-form-container">
                            <div>
                                <div class="form-box-container">
                                    <input type="text" class="form-control form-box-input" placeholder="Enter your Email">
                                    <textarea class="form-box-textarea form-control" placeholder="Enter your question"></textarea>
                                    <button class="btn form-box-button" type="button" style="">SEND</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fad-content-footer-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="fad-search-footer-logo-container centered">
                        <a href="#" class="fad-search-footer-logo-img-container">
                            <img src="../assets/images/final-log.png" class="fad-search-footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-footer-main-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-link-container centered">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Menu</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="about-us">About FINDaDOCTOR</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="privacy">Privacy Policy</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="terms-of-use">Terms of Use</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="faq">FAQs</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="contact-us">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Specialties</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'General Physician'})">General Physician</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dentist'})">Dentist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ear, Nose & Throat Doctor'})">Ear, Nose & Throat Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ophthalmologist (Eye Doctor)'})">Eye Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Obstetrician & Gynecologist'})">Gynecologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Cardiologist (Heart Doctor)'})">Cardiologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dermatologist'})">Dermatologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Psychiatrist'})">Psychiatrist</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Insurance</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Aetna'})">Aetna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Blue Cross Blue Shield'})">Blue Cross Blue Shield</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Cigna'})">Cigna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Group Health Incorporated'})">GHI</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'HIP Health Plan'})">HIP</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'UnitedHealthCare'})">UnitedHealthcare</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Cities</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:34.052235,
                                                lon:-118.243683
                                            }})">Los Angeles</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:32.715736,
                                                lon:-117.161087
                                            }})">San Diego</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:37.733795,
                                                lon:-122.446747
                                            }})">San Francisco</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.7127837,
                                                lon:-74.00594130000002
                                            }})">New York</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:41.881832,
                                                lon:-87.623177
                                            }})">Chicago</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:44.919285,
                                                lon:-123.317047
                                            }})">Dallas</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:29.761993,
                                                lon:-95.366302
                                            }})">Houston</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.489578,
                                                lon:-81.445526
                                            }})">Philadelphia</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 footer" style="position: absolute; bottom:30px;">
                    <h5 class="fad-search-footer-socail-header"><span>Get in touch</span></h5>
                    <ul class="list-unstyled list-inline" style="text-align:center; margin-left: 0;">
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.facebook.com/findadoctorcom-220377064670960/?fref=ts" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.83 37.83">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>FB</title>
                                    <path class="cls-1" d="M37.83,0H0V37.83H18.92V23.54H14.29V17.23h4.62V14.78c0-4.24,3.18-8.05,7.09-8.05h5.1V13H26a1.54,1.54,0,0,0-1.21,1.69V17.2H31.1v6.31H24.8V37.83h13V0Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.linkedin.com/company/findadoctor" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.07 38.07">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>linkedin</title>
                                    <path class="cls-1" d="M0,0V38.07H38.07V0ZM11.47,31.67H5.75V14.59h5.72ZM8.61,12.25h0a3,3,0,1,1,.07-5.9,3,3,0,1,1-.07,5.9ZM32.07,31.67H26.36V22.53c0-2.3-.83-3.86-2.89-3.86a3.12,3.12,0,0,0-2.93,2.08,3.84,3.84,0,0,0-.19,1.38v9.54H14.63s.08-15.48,0-17.08h5.71V17a5.68,5.68,0,0,1,5.15-2.82c3.76,0,6.58,2.44,6.58,7.69v9.79Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://twitter.com/FINDaDOCTOR1" target="block">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>twitter</title>
                                    <path class="cls-1" d="M0,0V38H38V0ZM29.42,13.62v.7A15.33,15.33,0,0,1,5.84,27.23a10.89,10.89,0,0,0,8-2.23,5.4,5.4,0,0,1-5-3.74,5.39,5.39,0,0,0,2.43-.09A5.39,5.39,0,0,1,7,15.88v-.07a5.37,5.37,0,0,0,2.44.67,5.4,5.4,0,0,1-1.67-7.2,15.3,15.3,0,0,0,11.11,5.63A5.39,5.39,0,0,1,28,10a10.8,10.8,0,0,0,3.42-1.31,5.41,5.41,0,0,1-2.37,3,10.78,10.78,0,0,0,3.1-.85,10.94,10.94,0,0,1-2.69,2.79h0Z" transform="translate(0 0)" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-copy-container centered no-padding">
                <p class="fad-search-footer-copy">Our privacy policy and terms of use <span>&copy; 2016 Millennium Technology Solutions, Inc</span>.</p>
            </div>
        </div>
    </div>
</main>
