<main style="height:100%;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="container-fluid fad-doctor-details-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 fad-doctor-details-header-container">
                    <div class="fad-doctor-details-header-logo-container centered">
                        <a href="#" class="fad-search-footer-logo-img-container">
                            <img src="../assets/images/white-logo.png" class="fad-search-footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 fad-privacy-policy-text-container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12 fad-privacy-policy-text">
                            <ul class="list-unstyled">
                                <li style="list-style: none; margin-bottom:45px;">
                                    <h3 class="fad-privacy-policy-header" style="font-weight:700; margin-bottom: 30px;">PRIVACY POLICY</h3>
                                    <p class="fad-privacy-policy-paragraph">This privacy policy describes how we collect, protect and use the personally identifiable information you provided on the http://www.findadoctor.com website and any of its services collectively. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This Policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Collection of personal information</h4>
                                    <p class="fad-privacy-policy-paragraph">We receive and store any information you knowingly provide to us when you create an account, publish content, fill any online forms on the Website. When required this information may include your email address, name, phone number, or other Personal Information. You can choose not to provide us with certain information, but then you may not be able to take advantage of some of the Website&#39;s features.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Collection of non-personal information</h4>
                                    <p class="fad-privacy-policy-paragraph">When you visit the FINDaDOCTOR Website our servers automatically record information that your browser sends. This data may include information such as your computer&#39;s IP address, browser type and version, operating system type and version, language preferences or the webpage you were visiting before you came to our Website, pages of our Website that you visit, the time spent on those pages, information you search for on our Website, access times and dates, and other statistics.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Managing personal information</h4>
                                    <p class="fad-privacy-policy-paragraph">You can access, add to, update and delete certain Personal Information about you. The information you can view, update, and delete may change as the Website or Services change. When you update information, however, we may maintain a copy of the unrevised information in our records. We will retain your information for as long as your account is active or as needed to provide you Services. Some information may remain in our private records after your deletion of such information from your account. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. We may use any aggregated data derived from or incorporating your Personal Information after you update or delete it, but not in a manner that would identify you personally.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Use of collected information</h4>
                                    <p class="fad-privacy-policy-paragraph">Any of the information we collect from you may be used to improve customer service and respond to queries and emails of our customers; run and operate our Website and Services. Non-personal information collected is used only to identify potential cases of abuse and establish statistical information regarding Website traffic and usage. This statistical information is not otherwise aggregated in such a way that would identify any particular user of the system.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Newsletters</h4>
                                    <p class="fad-privacy-policy-paragraph">We offer electronic newsletters to which you may voluntarily subscribe at any time. You may choose to stop receiving our newsletter or marketing emails by following the unsubscribe instructions included in these emails or by contacting us. However, you will continue to receive essential transactional emails.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Information security</h4>
                                    <p class="fad-privacy-policy-paragraph">We secure information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use, or disclosure. We maintain reasonable administrative, technical, and physical safeguards in an effort to protect against unauthorized access, use, modification, and disclosure of personal information in its control and custody. However, no data transmission over the Internet or wireless network can be guaranteed. Therefore, while we strive to protect your personal information, you acknowledge that (i) there are security and privacy limitations of the Internet which are beyond our control; (ii) the security, integrity, and privacy of any and all information and data exchanged between you and our Website cannot be guaranteed; and (iii) any such information and data may be viewed or tampered with in transit by a third party, despite best efforts.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Data breach</h4>
                                    <p class="fad-privacy-policy-paragraph">In the event, we become aware that the security of the Website has been compromised or users Personal Information has been disclosed to unrelated third parties as a result of external activity, including, but not limited to, security attacks or fraud, we reserve the right to take reasonably appropriate measures, including, but not limited to, investigation and reporting, as well as notification to and cooperation with law enforcement authorities. In the event of a data breach, we will make reasonable efforts to notify affected individuals if we believe that there is a reasonable risk of harm to the user as a result of the breach or if notice is otherwise required by law. When we do we will send you an email.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Legal disclosure</h4>
                                    <p class="fad-privacy-policy-paragraph">We will disclose any information we collect, use or receive if required or permitted by law, such as to comply with a subpoena, or similar legal process, and when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request. In the event, we go through a business transition, such as a merger or acquisition by another company, or sale of all or a portion of its assets, your user account and personal data will likely be among the assets transferred.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Changes and amendments</h4>
                                    <p class="fad-privacy-policy-paragraph">We reserve the right to modify this privacy policy relating to the FINDaDOCTOR Website or Services at any time, effective upon posting of an updated version of this privacy policy on the Website. When we do we will send you an email to notify you.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Acceptance of this policy</h4>
                                    <p class="fad-privacy-policy-paragraph">You acknowledge that you have read this Policy and agree to all its terms and conditions. By using FINDaDOCTOR Website or its Services you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not authorized to use or access the Website and its Services.</p>
                                </li>
                                <li class="fad-privacy-policy-list">
                                    <h4 class="fad-privacy-policy-header">Contact us</h4>
                                    <p class="fad-privacy-policy-paragraph">If you have any questions about this Policy, please contact us. This document was last updated on August 05, 2016</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container fad-content-footer-container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="fad-search-footer-logo-container centered">
                        <a href="#" class="fad-search-footer-logo-img-container">
                            <img src="../assets/images/final-log.png" class="fad-search-footer-logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 fad-footer-main-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-link-container centered">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Menu</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="about-us">About FINDaDOCTOR</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="privacy" ui-sref-opts="{reload: true, notify: true}">Privacy Policy</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="terms-of-use">Terms of Use</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="faq">FAQs</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ui-sref="contact-us">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Specialties</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'General Physician'})">General Physician</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dentist'})">Dentist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ear, Nose & Throat Doctor'})">Ear, Nose & Throat Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Ophthalmologist (Eye Doctor)'})">Eye Doctor</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Obstetrician & Gynecologist'})">Gynecologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Cardiologist (Heart Doctor)'})">Cardiologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Dermatologist'})">Dermatologist</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{speciality:'Psychiatrist'})">Psychiatrist</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Insurance</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Aetna'})">Aetna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Blue Cross Blue Shield'})">Blue Cross Blue Shield</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Cigna'})">Cigna</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'Group Health Incorporated'})">GHI</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'HIP Health Plan'})">HIP</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{insurance:'UnitedHealthCare'})">UnitedHealthcare</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-6 fad-search-footer-link">
                                    <h4>Cities</h4>
                                    <ul class="list-unstyled">
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:34.052235,
                                                lon:-118.243683
                                            }})">Los Angeles</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:32.715736,
                                                lon:-117.161087
                                            }})">San Diego</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:37.733795,
                                                lon:-122.446747
                                            }})">San Francisco</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.7127837,
                                                lon:-74.00594130000002
                                            }})">New York</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:41.881832,
                                                lon:-87.623177
                                            }})">Chicago</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:44.919285,
                                                lon:-123.317047
                                            }})">Dallas</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:29.761993,
                                                lon:-95.366302
                                            }})">Houston</a>
                                        </li>
                                        <li class="fad-search-footer-link-lists">
                                            <a ng-click="content.$state.go('quick-search',{location:{
                                                lat:40.489578,
                                                lon:-81.445526
                                            }})">Philadelphia</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 footer" style="position: absolute; bottom:30px;">
                    <h5 class="fad-search-footer-socail-header"><span>Get in touch</span></h5>
                    <ul class="list-unstyled list-inline" style="text-align:center; margin-left: 0;">
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.facebook.com/findadoctorcom-220377064670960/?fref=ts" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.83 37.83">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>FB</title>
                                    <path class="cls-1" d="M37.83,0H0V37.83H18.92V23.54H14.29V17.23h4.62V14.78c0-4.24,3.18-8.05,7.09-8.05h5.1V13H26a1.54,1.54,0,0,0-1.21,1.69V17.2H31.1v6.31H24.8V37.83h13V0Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://www.linkedin.com/company/findadoctor" target="_blank">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.07 38.07">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>linkedin</title>
                                    <path class="cls-1" d="M0,0V38.07H38.07V0ZM11.47,31.67H5.75V14.59h5.72ZM8.61,12.25h0a3,3,0,1,1,.07-5.9,3,3,0,1,1-.07,5.9ZM32.07,31.67H26.36V22.53c0-2.3-.83-3.86-2.89-3.86a3.12,3.12,0,0,0-2.93,2.08,3.84,3.84,0,0,0-.19,1.38v9.54H14.63s.08-15.48,0-17.08h5.71V17a5.68,5.68,0,0,1,5.15-2.82c3.76,0,6.58,2.44,6.58,7.69v9.79Z" />
                                </svg>
                            </a>
                        </li>
                        <li class="fad-search-footer-social-link-lists">
                            <a href="https://twitter.com/FINDaDOCTOR1" target="block">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                                    <defs>
                                        <style>
                                        .cls-1 {
                                            fill: #fa5f5f;
                                        }
                                        </style>
                                    </defs>
                                    <title>twitter</title>
                                    <path class="cls-1" d="M0,0V38H38V0ZM29.42,13.62v.7A15.33,15.33,0,0,1,5.84,27.23a10.89,10.89,0,0,0,8-2.23,5.4,5.4,0,0,1-5-3.74,5.39,5.39,0,0,0,2.43-.09A5.39,5.39,0,0,1,7,15.88v-.07a5.37,5.37,0,0,0,2.44.67,5.4,5.4,0,0,1-1.67-7.2,15.3,15.3,0,0,0,11.11,5.63A5.39,5.39,0,0,1,28,10a10.8,10.8,0,0,0,3.42-1.31,5.41,5.41,0,0,1-2.37,3,10.78,10.78,0,0,0,3.1-.85,10.94,10.94,0,0,1-2.69,2.79h0Z" transform="translate(0 0)" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 fad-search-footer-copy-container centered no-padding">
                <p class="fad-search-footer-copy">Our privacy policy and terms of use <span>&copy; 2016 Millennium Technology Solutions, Inc</span>.</p>
            </div>
        </div>
    </div>
</main>
